<div bsModal #bigDealsModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="bigDealsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #bigDealsModal="ngForm" id="frm_create_contact" novalidate (ngSubmit)="save()">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span>{{l("Reproject Big Deals")}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-type-material">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-floated">Monthly Targeted Revenue</label>
                                <input required class="form-control" name="TargetedMonthlyTurnoverBD" [(ngModel)]="user.targetedMonthlyTurnoverBD" type="number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-floated">Average Deal Size (per week)</label>
                                <input class="form-control" readonly value="{{user.targetedMonthlyTurnoverBD / 4}}" name="AverageDealSizeBD" [(ngModel)]="user.averageDealSizeBD" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="close()" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="!bigDealsModal.form.valid || saving" type="submit" class="btn btn-bold btn-pure btn-primary">Done</button>
                </div>
            </form>
        </div>

    </div>

</div>
