<div [@routerTransition]>
    <div class="row no-gutters min-h-fullscreen bg-white">
        <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img overlay-darker"
            style="background-image: url(../assets/images/Login.png)" data-overlay="5">

            <div class="row h-100 pl-50">
                <div class="col-md-10 col-lg-8 align-self-end">
                    <img src="../assets/img/SalesHack-Logo.png" />
                    <br><br><br>
                    <p class="text-white">
                        Built to help you close more deals. Saleshack.io is a B2B “off the shelf”,
                        cloud based, salesforce automation sales tool, to help you accelerate and automate your sales
                        process so as to increase revenue growth.
                    </p>
                    <br><br>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
            <div class="px-80 py-30">
                <h4>Password recovery</h4>
                <p><small>We'll send you instructions in email</small></p>
                <br>

                <form class="form-type-material" [formGroup]="passwordRevoveryForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid': passwordRevoveryForm.get('emailAddress').errors &&
                    passwordRevoveryForm.get('emailAddress').touched}" type="email" formControlName="emailAddress"
                            class="form-control">

                        <div class="invalid-feedback"
                            *ngIf="passwordRevoveryForm.get('emailAddress').hasError('required')">
                            Email Address is Required
                        </div>
                        <div class="invalid-feedback" *ngIf="(passwordRevoveryForm.get('emailAddress').hasError('email') &&
                            passwordRevoveryForm.get('emailAddress').touched) &&
                            !passwordRevoveryForm.get('emailAddress').hasError('required')">
                            Please Enter a valid email
                        </div>
                        <label for="email">Email address</label>

                    </div>
                    <br>
                    <div [tooltip]="buttonToolTip()">
                        <button [disabled]="!passwordRevoveryForm.valid" class="btn btn-bold btn-block btn-primary"
                        type="submit">Reset</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>
