<div bsModal #sendSmSModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="sendSmSModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #sendSmSModal="ngForm" id="frm_create_contact" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Send SmS")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">Cell Number</label>
                                <input id="phone" [(ngModel)]="sms.recipient" type="tel" name="recipient" class="form-control" placeholder="071 234 5678" />
                                <label for="message" class="label">Message</label>
                                <textarea name="message" [(ngModel)]="sms.message" id="message" class="form-control" placeholder="Message Here" rows="3"></textarea>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="close()" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" (click)="save()" class="btn btn-bold btn-pure btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
