<!-- BEGIN Sidebar -->
<header class="sidebar-header">
    <span class="logo">
        <a href="javascript:void(0)"> <img src="../../assets/img/SalesHack-Logo.png"></a>
    </span>
    <ng-template #tolTemplate>Lock or Unlock Sidebar</ng-template>
    <span data-provide="tooltip" style="overflow-x: visible" [tooltip]="tolTemplate" class="sidebar-toggle-fold"
        adaptivePosition="false" placement="bottom"></span>
</header>
<nav class="sidebar-navigation">
    <perfect-scrollbar [config]="{wheelSpeed:0.2}" style="max-height: 710px;">
        <ul class="menu">
            <!--<li class="menu-category">Category 1</li>-->
            <ng-template ngFor let-menuItem [ngForOf]="menuItems" let-mainMenuItemIndex="index">
                <li *ngIf="menuItem.name ==='Reports'" class="menu-divider"></li>
                <li  routerLinkActive="active"
                    class="menu-item">
                    <!-- route name -->
                    <a class="menu-link" [routerLink]="[menuItem.route]"
                        *ngIf="!menuItem.items && menuItem.route.indexOf('http') != 0">
                        <span *ngIf="menuItem.icon" class="icon fa {{menuItem.icon}}"></span>
                        <span class="title">{{menuItem.name}}</span>
                    </a>
                    <!-- Static link (starts with 'http') -->
                    <a href="{{menuItem.route}}" target="_blank" class="menu-link"
                        *ngIf="!menuItem.items  && menuItem.route.indexOf('http') == 0">
                        <span *ngIf="menuItem.icon" class="icon fa {{menuItem.icon}}"></span>
                        <span class="title">{{menuItem.name}}</span>
                    </a>
                    <!-- Has child menu items (so, this is a parent menu) -->
                    <a href="javascript:void(0);" class="menu-link" *ngIf="menuItem.items">
                        <span *ngIf="menuItem.icon" class="icon fa {{menuItem.icon}}"></span>
                        <span class="title">{{menuItem.name}}</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="menu-submenu" *ngIf="menuItem.items">
                        <ng-template ngFor let-subMenuItem [ngForOf]="menuItem.items" let-mainMenuItemIndex="index">
                            <li class="menu-item" *ngIf="showMenuItem(subMenuItem)" routerLinkActive="active">
                                <!-- route name -->
                                <a [routerLink]="[subMenuItem.route]" class="menu-link menu-item"
                                    *ngIf="!subMenuItem.items && subMenuItem.route.indexOf('http') != 0">
                                    <span class="dot"></span>
                                    <span class="title">{{subMenuItem.name}}</span>
                                </a>
                                <!-- Static link (starts with 'http') -->
                                <a href="{{subMenuItem.route}}" class="menu-link menu-item" target="_blank"
                                    *ngIf="!subMenuItem.items && subMenuItem.route.indexOf('http') == 0">
                                    <span *ngIf="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</span>
                                    <span class="title">{{subMenuItem.name}}</span>
                                </a>
                                <!-- Has child menu items (so, this is a parent menu) -->
                                <a href="javascript:void(0);" class="menu-link menu-toggle" *ngIf="subMenuItem.items">
                                    <span *ngIf="subMenuItem.icon" class="dot">{{subMenuItem.icon}}</span>
                                    <span class="title">{{subMenuItem.name}}</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="ml-menu" *ngIf="subMenuItem.items">
                                    <ng-template ngFor let-subSubMenuItem [ngForOf]="subMenuItem.items"
                                        let-mainMenuItemIndex="index">
                                        <li *ngIf="showMenuItem(subSubMenuItem)" class="toggled"
                                            routerLinkActive="active">
                                            <!-- route name -->
                                            <a class="menu-link" [routerLink]="[subSubMenuItem.route]"
                                                *ngIf="subSubMenuItem.route.indexOf('http') != 0">
                                                <span *ngIf="subSubMenuItem.icon"
                                                    class="material-icons">{{subSubMenuItem.icon}}" ></span>
                                                <span class="title">{{subSubMenuItem.name}}</span>
                                            </a>
                                            <!-- Static link (starts with 'http') -->
                                            <a class="menu-item" href="{{subSubMenuItem.route}}" target="_blank"
                                                *ngIf="subSubMenuItem.route.indexOf('http') == 0">
                                                <span *ngIf="subSubMenuItem.icon"
                                                    class="material-icons">{{subSubMenuItem.icon}}</span>
                                                <span class="title">{{subSubMenuItem.name}}</span>
                                            </a>
                                        </li>
                                    </ng-template>
                                </ul>
                            </li>
                        </ng-template>
                    </ul>
                </li>
            </ng-template>
        </ul>
    </perfect-scrollbar>
</nav>

<!-- END Sidebar -->
