<div class="card" [@routerTransition]>
    <div class="card-title">
        <h4><strong>{{l('Total Available Market')}}</strong></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <app-market-chart></app-market-chart>
            </div>
            <div class="col-md-6">
                <app-target-audience-chart></app-target-audience-chart>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <app-age-bracket-chart></app-age-bracket-chart>
            </div>
            <div class="col-md-2">

            </div>
        </div>


    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button (click)="redo()" class="btn btn-success">Redo</button>
            <button (click)="next()" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>
