<div class="card" [@routerTransition]>
    <div class="card-title">
        <h4><strong>{{l('Customer Profile')}}</strong></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="industry">Industry</label>
                        <tag-input (onRemove)="onIndustryRemove($event)" (onAdd)="onIndustryAdd($event)"
                            [ngModel]="defaultIndustry" #myIndustries>
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="industryList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="city">City</label>
                        <tag-input [ngModel]="defaultCity" [onRemoving]="onCityRemoving" (onAdd)="onCityAdd($event)"
                            [onlyFromAutocomplete]="true"
                            (onRemove)="onCityRemove($event)">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="cityList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="beeStatus">BEE Status</label>
                        <tag-input (onRemove)="onBeeRemove($event)" (onAdd)="onBeeAdd($event)" [ngModel]="defaultStatus"
                            [onlyFromAutocomplete]="true">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="beeStatusList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="companySize">Company Size</label>
                        <tag-input (onRemove)="onCompanySizeRemove($event)" (onAdd)="onCompanySizeAdd($event)"
                            [ngModel]="defaultCompanySize" [onlyFromAutocomplete]="true">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="companySizeList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="serviceOffering">Service Offering</label>
                        <tag-input [ngModel]="defaultService" [onlyFromAutocomplete]="true">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="services">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="companySize">Est Bracket</label>
                        <tag-input (onRemove)="onEstBracketRemove($event)" (onAdd)=" onEstBracketAdd($event)"
                            [ngModel]="defaultEst" [onlyFromAutocomplete]="true">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="estBracketList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="serviceOffering">Job Title</label>
                        <tag-input [ngModel]="defaultJob" [onlyFromAutocomplete]="true"
                            [secondaryPlaceholder]="'Add Job title'" (onAdd)="onJobTitleAdd($event)"
                            (onRemove)="onJobTitleRemove($event)">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="jobTitleList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="serviceOffering">Level at Company</label>
                        <tag-input [ngModel]="defaultLevel" [onlyFromAutocomplete]="true"
                            [secondaryPlaceholder]="'Add Level at Company'" (onAdd)="onCompanyAdd($event)"
                            (onRemove)="onCompanyRemove($event)">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="levelList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label>Age Bracket</label>
                        <tag-input (onRemove)="onAgesRemove($event)" (onAdd)="onAgesAdd($event)" [ngModel]="defaultAge"
                            [secondaryPlaceholder]="'Add Age Bracket'" [onlyFromAutocomplete]="true">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="ageList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card-footer">
        <div class="pull-right">
            <button (click)="save()" type="button" class="btn btn-primary">Save</button>
            <!-- <button (click)="next()" type="button" class="btn btn-secondary">Next</button> -->
        </div>

    </div>
</div>
