<div bsModal #editUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-lg modal-dialog">

        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editUserForm" id="frm_create_user" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("EditUser")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>


                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body form-type-material">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#user-info">User Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#roles">Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#projections">Projections</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show" id="user-info">
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("Name")}}</label>
                                                <input [ngClass]="{'is-invalid': editUserForm.get('name').errors &&
                                                editUserForm.get('name').touched}" #nameInput type="text"
                                                    formControlName="name" class="form-control">

                                                <div class="invalid-feedback">
                                                    Name is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("Surname")}}</label>
                                                <input [ngClass]="{'is-invalid': editUserForm.get('surname').errors &&
                                                editUserForm.get('surname').touched}" type="text"
                                                    formControlName="surname" class="form-control">
                                                <div class="invalid-feedback">
                                                    Surname is Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" style="margin-top:10px;">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("UserName")}}</label>
                                                <input [ngClass]="{'is-invalid': editUserForm.get('userName').errors &&
                                                editUserForm.get('userName').touched}" type="text"
                                                    formControlName="userName" class="form-control">
                                                <div class="invalid-feedback">
                                                    UserName is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid': (editUserForm.get('jobTitle').errors &&
                                                 editUserForm.get('jobTitle').touched) ||
                                                 (editUserForm.get('jobTitle').value === 'undefined' &&
                                                 editUserForm.get('jobTitle').touched)}" formControlName="jobTitle"
                                                    class="form-control">
                                                    <option [value]="undefined || null" selected>Please Select Job title
                                                    </option>
                                                    <option *ngFor="let job of jobTitles" [value]="job.value">
                                                        {{job.value}}</option>
                                                </select>
                                                <label class="label-floated">{{l("JobTitle")}}</label>
                                                <div class="invalid-feedback">
                                                    Please Select Job Title
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid': (editUserForm.get('department').errors &&
                                                 editUserForm.get('department').touched) ||
                                                 (editUserForm.get('department').value === 'undefined' &&
                                                 editUserForm.get('department').touched)}" class="form-control"
                                                    formControlName="department">
                                                    <option [value]="undefined || null" selected>Please select Department
                                                    </option>
                                                    <option *ngFor="let dep of departments" [value]="dep.value">
                                                        {{dep.value}}</option>
                                                </select>
                                                <label class="label-floated">Department</label>
                                                <div class="invalid-feedback">
                                                    Please Select Department
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                 (editUserForm.get('yearsOfExperience').errors &&
                                                 editUserForm.get('yearsOfExperience').touched) ||
                                                 (editUserForm.get('yearsOfExperience').value === 'undefined' &&
                                                 editUserForm.get('yearsOfExperience').touched)}" class="form-control"
                                                    formControlName="yearsOfExperience">
                                                    <option [value]="undefined || null" selected>Please Select Years Of
                                                        Experience</option>
                                                    <option *ngFor="let exp of experiences" [value]="exp.value">
                                                        {{exp.value}}</option>
                                                </select>
                                                <label class="label-floated">Experience</label>
                                                <div class="invalid-feedback">
                                                    PLease Select Years Of Experience
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("EmailAddress")}}</label>
                                                <input [ngClass]="{'is-invalid':
                                                (editUserForm.get('emailAddress').errors &&
                                                editUserForm.get('emailAddress').touched || 
                                                editUserForm.get('emailAddress').hasError('pattern') &&
                                                editUserForm.get('emailAddress').touched)}" type="email"
                                                    formControlName="emailAddress" class="form-control">
                                                <div *ngIf="editUserForm.get('emailAddress').hasError('required') &&
                                                editUserForm.get('emailAddress').touched" class="invalid-feedback">
                                                    Email Address is Required
                                                </div>
                                                <div *ngIf="editUserForm.get('emailAddress').hasError('pattern') &&
                                                editUserForm.get('emailAddress').touched" class="invalid-feedback">
                                                    Please Enter a Valid Email Address
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("ConfirmEmailAddress")}}</label>
                                                <input [ngClass]="{'is-invalid':
                                                (editUserForm.get('confirmEmailAddress').errors &&
                                                editUserForm.get('confirmEmailAddress').touched) ||
                                                (editUserForm.get('confirmEmailAddress').touched &&
                                                editUserForm.get('confirmEmailAddress').hasError('mismatch'))}"
                                                    type="email" formControlName="confirmEmailAddress"
                                                    class="form-control">
                                                <div *ngIf="editUserForm.get('confirmEmailAddress').hasError('required') &&
                                                editUserForm.get('confirmEmailAddress').touched"
                                                    class="invalid-feedback">
                                                    Confirm Email Address is Required
                                                </div>
                                                <div class="invalid-feedback" *ngIf="editUserForm.get('confirmEmailAddress').hasError('mismatch')
                                                    && editUserForm.get('confirmEmailAddress').touched">
                                                    Email Addresses Do not Match
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">{{l("Password")}}</label>
                                                <input [ngClass]="{'is-invalid':
                                                editUserForm.get('password').errors &&
                                                editUserForm.get('password').touched}" type="password"
                                                    formControlName="password" class="form-control">
                                                <div class="invalid-feedback">
                                                    Password is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label-floated">Confirm Password</label>
                                                <input [ngClass]="{'is-invalid':
                                                editUserForm.get('confirmPassword').errors &&
                                                editUserForm.get('confirmPassword').touched}" type="password"
                                                    formControlName="confirmPassword" class="form-control">

                                                <div class="invalid-feedback">
                                                    Confirm Password is Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" formControlName="isActive" checked
                                                        class="custom-control-input" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">isActive</span>
                                                </label>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="roles">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                                                <div class="col-sm-6">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" name="role"
                                                            value="{{role.normalizedName}}" class="custom-control-input"
                                                            id="role-{{roleIndex}}" checked />
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{role.name}}</span>
                                                    </label>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="projections">
                                    <h5 class="text-uppercase">Small Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Monthly Targeted Revenue</label>
                                                <input [ngClass]="{'is-invalid':
                                                editUserForm.get('targetedMonthlyTurnoverSD').errors &&
                                                editUserForm.get('targetedMonthlyTurnoverSD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverSD"
                                                    type="number">
                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                                <input class="form-control" readonly
                                                    value="{{editUserForm.get('targetedMonthlyTurnoverSD').value / 4}}"
                                                    formControlName="averageDealSizeSD" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="text-uppercase">Medium Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Monthly Targeted Revenue</label>
                                                <input [ngClass]="{'is-invalid':
                                                editUserForm.get('targetedMonthlyTurnoverMD').errors &&
                                                editUserForm.get('targetedMonthlyTurnoverMD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverMD"
                                                    type="number">
                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                                <input class="form-control" readonly
                                                    value="{{editUserForm.get('targetedMonthlyTurnoverMD').value / 4}}"
                                                    formControlName="averageDealSizeMD" type="number">
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="text-uppercase">Big Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Monthly Targeted Revenue</label>
                                                <input [ngClass]="{'is-invalid':
                                                editUserForm.get('targetedMonthlyTurnoverBD').errors &&
                                                editUserForm.get('targetedMonthlyTurnoverBD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverBD"
                                                    type="number">

                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                                <input class="form-control" readonly
                                                    value="{{editUserForm.get('targetedMonthlyTurnoverBD').value / 4}}"
                                                    formControlName="averageDealSizeBD" type="number">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!editUserForm.valid" type="submit" class="btn btn-primary waves-effect">{{l("Save")}}</button>
                </div>
            </form>

        </div>
    </div>
</div>
