<p class="card" style="width:250px;" (click)="viewDeal(card.dealId)" draggable="true" (dragstart)="dragStart($event)" id="{{card.id}}">
    <input type="hidden" value="{{card.dealId}}" id="dealId" />
    <a class="text-white">{{card.description}}</a>
</p>
