<!--<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l("Tenants")}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l("TenancyName")}}</th>
                            <th>{{l("Name")}}</th>
                            <th>
                                <div style="text-align:center">{{l('IsActive')}}</div>
                            </th>
                            <th>{{l('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tenant of tenants | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{tenant.tenancyName}}</td>
                            <td>{{tenant.name}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="tenant.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!tenant.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="editTenant(tenant)"><i class="material-icons">create</i>Edit</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(tenant)"><i class="material-icons">delete_sweep</i>Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createTenant()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<create-tenant-modal #createTenantModal (modalSave)="refresh()"></create-tenant-modal>
<edit-tenant-modal #editTenantModal (modalSave)="refresh()"></edit-tenant-modal>-->



    <div class="card" [@routerTransition]>
        <h4 class="card-title"><strong>{{l("Tenants")}}</strong></h4>
        <div class="card-body">
            <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createTenant()">
                <i class="material-icons">add</i>
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>{{l("TenancyName")}}</th>
                        <th>{{l("Name")}}</th>
                        <th><div style="text-align:center">{{l('IsActive')}}</div></th>
                        <th>{{l('Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tenant of tenants | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                        <th scope="row">{{tenant.tenancyName}}</th>
                        <td>{{tenant.name}}</td>
                        <td align="center">
                            <i class="material-icons" *ngIf="tenant.isActive" style="color:green;">check_box</i>
                            <i class="material-icons" *ngIf="!tenant.isActive" style="color:red;">indeterminate_check_box</i>
                        </td>
                        <td class="text-right table-actions">
                            <a class="table-action hover-primary" href="javascript:void(0);" (click)="editTenant(tenant)"><i class="ti-pencil"></i></a>
                            <a class="table-action hover-danger" href="javascript:void(0);" (click)="delete(tenant)"><i class="ti-trash"></i></a>
                            <div class="dropdown table-action">
                                <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ti-menu-alt"></i> Details</a>
                                    <a class="dropdown-item" href="#"><i class="ti-clip"></i> Add file</a>
                                    <a class="dropdown-item" href="#"><i class="ti-bar-chart"></i> Performance</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav *ngIf="totalItems > pageSize">
                <!--<ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                </ul>-->
                <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
            </nav>
        </div>
    </div>

<create-tenant-modal #createTenantModal (modalSave)="refresh()"></create-tenant-modal>
<edit-tenant-modal #editTenantModal (modalSave)="refresh()"></edit-tenant-modal>

