<div bsModal #createNoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createNoteModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Create New Notes")}} : {{note.targetType}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-type-material">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="summernote" rows="5" name="description" [(ngModel)]="note.description"  data-provide="summernote" class="form-control" data-min-height="300"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                <button type="button" (click)="save()" class="btn btn-primary">{{l("Save")}}</button>
            </div>
        </div>
    </div>
</div>

