<div [@routerTransition]>
    <div class="row">
        <div class="col-md-6">
            <div class="card-title">
                <h4><strong>{{l('Ideal Client')}}</strong></h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <form class="lookup lookup-circle lookup-right lookup-lg">
                    <input class="form-control" placeholder="Filter..." (keyup)="filterContacts()"  type="text" name="s" autocomplete="off">
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let client of idealClients | paginate:{itemsPerPage: noOfItems, currentPage: page}; let i=index;">
            <div class="card card-body">
                <div class="flexbox align-items-center">
                    <label class="toggler toggler-yellow fs-16">
                        <input type="checkbox" checked>
                        <i class="fa fa-star"></i>
                    </label>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="viewFullProfile(client, i)"><i class="fa fa-fw fa-user"></i>Full Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="viewContacts(client)"><i class="fa fa-fw fa-users"></i> Contacts</a>
                            <!-- <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a> -->
                        </div>
                    </div>
                </div>
                <div class="text-center pt-3">
                    <a href="javascript:void(0)" (click)="viewFullProfile(client, i)">
                        <div class="avatar avatar-xxl {{i % 2 == 0 ? 'even-class' : 'odd-class'}}">
                            <span>{{getInitial(client.name)}}</span>
                        </div>
                    </a>
                    <h5 class="mt-3 mb-0"><a class="hover-primary" href="javascript:void(0)" (click)="viewFullProfile(client, i)">{{client.name}}</a></h5>
                    <span>{{client.industry}}</span>
                </div>
            </div>
        </div>
    </div>
    <nav class="mt-3" *ngIf="totalItems > noOfItems">
        <div class="pagination justify-content-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </nav>


    <div class="row" *ngIf="idealClients.length === 0">
        <div class="col-12" >
            <div class="card p-4">
                <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                <h4 class="text text-center">Go To <a href="javascript:void(0)" [routerLink]="['/app/user/customer-profile']"><strong>Customer Profile</strong></a> To Select Your Target Market</h4>
            </div>
        </div>
    </div>
</div>
<app-view-ideal-client #viewIdealClientModal></app-view-ideal-client>
<app-company-info #companyInfoModal></app-company-info>
