<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l("Companies")}}</strong></h4>
    <div class="card-body">
        <div class="pull-right">
            <form class="lookup lookup-circle lookup-right lookup-lg">
                <input tooltip="Search or Filter" class="form-control" placeholder="Filter..."
                    (keyup)="filterCompanies()" [formControl]="filterTerm" type="text" name="s" autocomplete="off">
            </form>
            <button tooltip="New Company" type="button" data-toggle="modal"
                class="btn btn-primary btn-circle waves-effect waves-circle waves-float" (click)="createCompany()">
                <i class="material-icons">add</i>
            </button>
        </div>
        <table class="table table-responsive table-striped">
            <thead class="table-header">
                <tr>
                    <th (click)="sort('name')">
                        {{l("Name")}}
                        <span class="fa fa-sort" *ngIf="key =='name'"></span>
                    </th>
                    <th (click)="sort('name')">
                        {{l("Open Deals Amount")}}
                    </th>
                    <th >
                        {{l("Phone")}}
                        <span class="fa fa-sort" *ngIf="key =='telephone'"></span>
                    </th>
                    <th class="text-center">{{l('Actions')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies  | orderBy: key : reverse | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }; let i=index;">
                    <td>
                        <div class="media">
                            <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}" href="javascript:void(0)" (click)="viewFullProfile(company, i)">
                                <span>{{getInitial(company.name)}}</span>
                            </a>

                            <div class="media-body">
                                <p>
                                    <a class="hover-primary" href="javascript:void(0)" (click)="viewFullProfile(company, i)"><strong>{{company.name}}</strong></a>
                                </p>
                                <p>{{company.industry}}</p>
                                <nav class="nav no-gutters mt-2">
                                    <a class="nav-link" href="http://{{company.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a class="nav-link" href="http://{{company.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a class="nav-link" href="http://{{company.linkedIn}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </nav>
                            </div>
                        </div>
                    </td>
                    <td>N/A</td>
                    <td><a href="tel://{{company.telephone}}">{{company.telephone}}</a> </td>
                    <td class="text-center table-actions">
                        <div class="dropdown table-action">
                            <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="showCompanyInfo(company)" href="javascript:void(0);"><i class="ti-menu-alt"></i>View Contacts</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View Deals</a>
                                <a class="dropdown-item" (click)="createDeal()" href="javascript:void(0);"><i class="fa fa-handshake-o"></i>Create Deal</a>
                                <a class="dropdown-item" (click)="viewFullProfile(company, i)" href="javascript:void(0)"><i class="fa fa-user-circle"></i>View Full Profile</a>
                                <a class="dropdown-item" (click)="editCompany(company)" href="javascript:void(0);"><i class="ti-pencil"></i>Edit Company</a>
                                <a class="dropdown-item" (click)="delete(company)" href="javascript:void(0);"><i class="ti-trash"></i>Delete Company</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="companies.length === 0">
                    <td colspan="9" class="mt-3 text text-center">
                        <span class="text-center">
                            <i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                        <h3 class="text-primary">No Companies Have Been Added</h3>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav class="mt-3" *ngIf="totalItems > pageSize">
            <div class="pagination justify-content-center">
                <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
            </div>
        </nav>

    </div>
</div>

<app-create-company (modalSave)="refresh()" #createCompanyModal></app-create-company>
<app-edit-company (modalSave)="refresh()" #editCompanyModal></app-edit-company>
<app-company-profile #companyProfileModal></app-company-profile>
<app-company-contacts #companyContacts></app-company-contacts>
<app-create-deal #createDealComponent> </app-create-deal>
