<div bsModal #createTaskModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createTaskModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #createTaskModal="ngForm" id="frm_create_tassk" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Create New Task")}} : {{task.targetType}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-type-material">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-floated" for="description">Task Description</label>
                                <input class="form-control" placeholder="Task Description" type="text" name="description" [(ngModel)]="task.description" required maxlength="255" minlength="2" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-floated" for="dueDate">Due Date</label>
                                <input id="dueDate" name="dueDate" placeholder="yyyy-mm-dd" [(ngModel)]="task.dueDate" type="text" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}" bsDatepicker class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-floated">Task Status</label>                                
                                <select name="taskStatusId" [(ngModel)]="task.taskStatusId" class="form-control">                                   
                                    <option [ngValue]="undefined" selected>NEW</option>
                                    <option value="2">TO DO</option>
                                    <option value="3">IN PROGRESS</option>
                                    <option value="4">DONE</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>
            </form>
        </div>

      

    </div>


</div>

