<div class="row no-margin h-fullscreen" style="padding-top: 10%" [@routerTransition]>
    <div class="col-12">
        <div class="card card-transparent center-h text-center">
            <h1 class="text-secondary lh-1" style="font-size: 200px"><i class="fa fa-check-square-o"></i></h1>
            <hr class="w-30px">
            <h3 class="text-uppercase">Email Sent</h3>
            <p class="lead">Please Check your Emails To Reset Your Password.</p>
        </div>
    </div>
</div>
