<div bsModal #importContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xlg ">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #importContactModal="ngForm" id="frm_create_contact" novalidate
                (ngSubmit)="importButton()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Import New Contacts")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <div class="card-body form-type-material">
                            <div class="row align-content-center">
                                <div class="col-md-12 text-center">
                                    <span class="text bold">If you are unsure about how to
                                        format your Excel data then please take a look at this sample
                                        <a href="../../../assets/data/Saleshack.xlsx">
                                            <img src="../../../assets/images/excel_logo.png" width="32" height="32" />
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="input-group file-group">
                                <input type="text" class="form-control file-value" placeholder="Choose file..."
                                    readonly>
                                <input type="file" (change)="onFileChange($event)">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary file-browser" type="button">
                                        <i class="fa fa-upload"></i></button>
                                </span>
                            </div>


                            <div *ngIf="headerRow.length>0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#company-info">Company
                                            Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="tab" href="#contact-info">Contact
                                            Information</a>
                                    </li>
                                </ul>

                                <!-- Tab Content-->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active show" id="company-info">
                                        <!--Row CompanyName-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Company Name:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="companyName" [(ngModel)]="import.companyName"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Province-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Province:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="province" [(ngModel)]="import.province"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Address-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Address:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="address" [(ngModel)]="import.address"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Row Industry-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Industry:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="industry" [(ngModel)]="import.industry"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row City-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>City:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="city" [(ngModel)]="import.city" class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row BEE STATUS-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Bee Status:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="beeStatus" [(ngModel)]="import.beeStatus"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Company Size-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Company Size:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="city" [(ngModel)]="import.companySize"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Phone-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="phone" [(ngModel)]="import.phone"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="contact-info">
                                        <!--Row Name-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select required name="name" class="form-control"
                                                        [(ngModel)]="import.name">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Last Name-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="surname" [(ngModel)]="import.surname"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Row Email-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select required name="email" [(ngModel)]="import.email"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Cellphone-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cellphone:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="cellphone" [(ngModel)]="import.cellphone"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Job Title-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Job Title:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="jobTitle" [(ngModel)]="import.jobTitle"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Website-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Website:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="website" [(ngModel)]="import.website"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Department-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Department:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="department" [(ngModel)]="import.department"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Row Province-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Province:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="jobTitle" [(ngModel)]="import.province"
                                                        class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Column</option>
                                                        <option *ngFor="let col of headerRow" [ngValue]="col">{{col}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default"
                            (click)="close()">{{l("Cancel")}}</button>
                        <button [disabled]="!importContactModal.form.valid " type="submit"
                            class="btn btn-primary blue">{{l("Import")}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
