<div bsModal #createContactInfoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #createContactModal="ngForm" id="frm_create_contact" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Create New Contact")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body form-type-material">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#contact-info">Contact Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#social-links">Social Media Links</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#associations">Associated / Related Company</a>
                                    </li>

                                </ul>

                                <!-- Tab Content-->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active show" id="contact-info">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input #nameInput class="form-control" type="text" name="name" [(ngModel)]="contact.name" required maxlength="64" minlength="2">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input class="form-control" type="text" name="surname" [(ngModel)]="contact.surname" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select name="industry" [(ngModel)]="contact.industry" class="form-control">
                                                        <option [ngValue]="undefined" selected>Choose industry...</option>
                                                        <option value="Accommodation">Accommodation</option>
                                                        <option value="Accounting">Accounting</option>
                                                        <option value="Advertising,Marketing,PR">Advertising,Marketing,PR</option>
                                                        <option value="Agents,Retailers,Wholesalers">Agents,Retailers,Wholesalers</option>
                                                        <option value="Airconditioning,Refrigeration & Ventilation">Airconditioning,Refrigeration & Ventilation</option>
                                                        <option value="Attorneys">Attorneys</option>
                                                        <option value="Automation & Instrumentation">Automation & Instrumentation</option>
                                                        <option value="Automotive,Components,Tyre&Rubber">Automotive,Components,Tyre&Rubber</option>
                                                        <option value="Banks & Finacial Institutions">Banks & Finacial Institutions</option>
                                                        <option value="BBB-EE VERIFICATION">BBB-EE VERIFICATION</option>
                                                        <option value="Building Construction Services,Architects& Surveyors">Building Construction Services,Architects& Surveyors</option>
                                                        <option value="Building & Construction Supplies">Building & Construction Supplies</option>
                                                        <option value="Business Services & Consulting">Business Services & Consulting</option>
                                                        <option value="Catering;Food & Beverage Services/Manufacture">Catering;Food & Beverage Services/Manufacture</option>
                                                        <option value="Civil & Consulting Engineers">Civil & Consulting Engineers</option>
                                                        <option value="Development & Services Organisations">Development & Services Organisationsop</option>
                                                        <option value="Education & Training">Education & Training</option>
                                                        <option value="Electrical & Electronic Equipment & Supplies">Electrical & Electronic Equipment & Supplies</option>
                                                        <option value="Employment Agencies & Consultants">Employment Agencies & Consultants</option>
                                                        <option value="Energy">Energy</option>
                                                        <option value="Engineering & Supplies">Engineering & Supplies</option>
                                                        <option value="Estate Agents;Property Development & Management">MEstate Agents;Property Development & Management</option>
                                                        <option value="Event&Exhibition Services,Accommodation&Conference Venue">Event&Exhibition Services,Accommodation&Conference Venue</option>
                                                        <option value="Financial Services & Insurance">Financial Services & Insurance</option>
                                                        <option value="Fire&Safety Products;Security Services">Fire&Safety Products;Security Services</option>
                                                        <option value="Freight & Logistics,Transport,Warehousing">,WFreight & Logistics,Transport,Warehousing</option>
                                                        <option value="Furniture & Office Equipment">Furniture & Office Equipment</option>
                                                        <option value="Health & Wellness">Health & Wellness</option>
                                                        <option value="Consumer Services">Human Resources Services</option>
                                                        <option value="Information Technology & Computers">Information Technology & Computers</option>
                                                        <option value="International Trade">International Trade</option>
                                                        <option value="Laboratory & Medical Supplies">Laboratory & Medical Supplies</option>
                                                        <option value="Machinery,Equipment & Supplies">Machinery,Equipment & Supplies</option>
                                                        <option value="Manufacturers General">Manufacturers General</option>
                                                        <option value="Media & Publishing">Media & Publishing</option>
                                                        <option value="Medical Aid,Health Care & Services">Medical Aid,Health Care & Services</option>
                                                        <option value="Metal(Incl Manufacturers & Scrap)">Metal(Incl Manufacturers & Scrap)</option>
                                                        <option value="Paper,Print & Packaging">Paper,Print & Packaging</option>
                                                        <option value="Oilfield & Mining">Oilfield & Mining</option>
                                                        <option value="Sanitation,Hygiene & Waste Management">Sanitation,Hygiene & Waste Management</option>
                                                        <option value="Services">Services</option>
                                                        <option value="Sports Creation">Sports Creation</option>
                                                        <option value="Telecommunication & Equipment">Telecommunication & Equipment</option>
                                                        <option value="Textiles & Allied Products & Services">Textiles & Allied Products & Services</option>
                                                        <option value="Tourism & Travel">Tourism & Travel</option>
                                                        <option value="Tool & Die">Tool & Die</option>
                                                        <option value="Wool,Mohair,Hides,Skins & Allied Products">Wool,Mohair,Hides,Skins & Allied Products</option>
                                                    </select>
                                                    <label class="label-floated">Industry</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input class="form-control" type="text" name="address" [(ngModel)]="contact.address" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="province" [(ngModel)]="contact.province" class="form-control">
                                                        <option [ngValue]="undefined" selected>Select Province</option>
                                                        <option value="Eastern Cape">Eastern Cape</option>
                                                        <option value="Western Cape">Western Cape</option>
                                                        <option value="Gauteng">Gauteng</option>
                                                        <option value="Limpopo">Limpopo</option>
                                                        <option value="Mpulanga">Mpulanga</option>
                                                        <option value="North West">North West</option>
                                                        <option value="Northen Cape">Northen Cape</option>
                                                        <option value="Freestate">Freestate</option>
                                                        <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                                                    </select>
                                                    <label class="label-floated">Province</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="source" [(ngModel)]="contact.source" class="form-control">
                                                        <option [ngValue]="undefined" selected>Please select a Source</option>
                                                        <option value="Online Sources">Online Sources</option>
                                                        <option value="Website">Website</option>
                                                        <option value="Blogging">Blogging</option>
                                                        <option value="Premium Content"> Premium Content</option>
                                                        <option value="Organic Search"> Organic Search</option>
                                                        <option value="Email Marketing"> Email Marketing</option>
                                                        <option value="Organic Search"> Organic Search</option>
                                                        <option value="Digital Advertising">Digital Advertising</option>
                                                        <option value="Media Coverage"> Media Coverage</option>
                                                        <option value="Offline Sources"> <b>Offline Sources</b></option>
                                                        <option value="Direct Marketing"> Direct Marketing</option>
                                                        <option value="Traditional Advertising"> Traditional Advertising</option>
                                                        <option value="Affiliate / Partner Programs"> Affiliate / Partner Programs</option>
                                                        <option value="Events / Shows">Events / Shows</option>
                                                        <option value="Inbound Phone Calls"> Inbound Phone Calls</option>
                                                        <option value="Outbound Sales">Outbound Sales</option>
                                                        <option value="Referrals">Referrals</option>
                                                        <option value="Speaking Engagements"> Speaking Engagements</option>
                                                        <option value="Traditional / Offline Networking">Traditional / Offline Networking</option>
                                                    </select>
                                                    <label class="label-floated">Source</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Email</label>
                                                    <input class="form-control" type="email" name="email" [(ngModel)]="contact.email" required maxlength="64" minlength="2">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cellphone</label>
                                                    <input class="form-control" type="tel" name="cellphone" [(ngModel)]="contact.cellphone" required maxlength="64" minlength="2">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="city" [(ngModel)]="contact.city" class="form-control" id="city">
                                                        <option [ngValue]="undefined" selected>Select City</option>
                                                        <option value="Port Elizabeth">Port Elizabeth</option>
                                                        <option value="Cape Town">Cape Town</option>
                                                        <option value="Durban">Durban</option>
                                                        <option value="Pretoria">Pretoria</option>
                                                        <option value="Johannesburg">Johannesburg</option>
                                                        <option value="Kimberly">Kimberly</option>
                                                        <option value="Ga-Rankuwa">Ga-Rankuwa</option>
                                                    </select>
                                                    <label class="label-floated">City</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Job Title</label>
                                                    <input class="form-control" type="text" name="jobTitle" [(ngModel)]="contact.jobTitle" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [(ngModel)]="contact.department" class="form-control" name="department">
                                                        <option [ngValue]="undefined" selected>Select Department</option>
                                                        <option value="Executive">Executive</option>
                                                        <option value="Marketing and Sales">Marketing and Sales</option>
                                                        <option value="Finance and Accounting">Finance and Accounting</option>
                                                        <option value="Operations and Production">Operations and Production</option>
                                                        <option value="Human Resources">Human Resources</option>
                                                        <option value="Information Technology">Information Technology</option>
                                                        <option value="Research and Development">Research and Development</option>
                                                    </select>
                                                    <label class="label-floated">Department</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="social-links">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Special Events</label>
                                                    <input class="form-control" type="text" name="specialEvents" [(ngModel)]="contact.specialEvents" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Facebook</label>
                                                    <input class="form-control" type="text" name="facebook" [(ngModel)]="contact.facebook" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>LinkedIn</label>
                                                    <input class="form-control" type="text" name="linkedIn" [(ngModel)]="contact.linkedIn" required maxlength="64" minlength="2">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>GooglePlus</label>
                                                    <input class="form-control" type="text" name="googlePlus" [(ngModel)]="contact.googlePlus" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Instagram</label>
                                                    <input class="form-control" type="text" name="instagram" [(ngModel)]="contact.instagram" required maxlength="64" minlength="2">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Twitter</label>
                                                    <input class="form-control" type="text" name="twitter" [(ngModel)]="contact.twitter" required maxlength="64" minlength="2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="associations">
                                        <small>(this person works for)</small>

                                        <select [(ngModel)]="contact.companyId" name="companyId" class="form-control">
                                            <option [ngValue]="undefined" selected>Please Select Company</option>
                                            <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

