<div bsModal #editDealModal="bs-modal" class="modal modal-right fade" role="dialog" tabindex="-1"
  aria-labelledby="createDealComponent" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md-right">
    <div #modalContent class="modal-content">
      <form *ngIf="active" [formGroup]="editDealForm" id="frm_create_contact" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{l("Edit Deal")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-type-material">
            <!--Deal Name-->
            <div class="form-group">
              <label class="label-floated">Deal Name</label>
              <input [ngClass]="{'is-invalid': editDealForm.get('name').errors &&
               editDealForm.get('name').touched}" formControlName="name" class="form-control" type="text">
              <div class="invalid-feedback" *ngIf="editDealForm.get('name').hasError('required') &&
             editDealForm.get('name').touched">
                Deal Name Is Required
              </div>
            </div>

            <!--Deal Owner-->
            <div class="form-group">
              <select [ngClass]="{'is-invalid': (editDealForm.get('ownerId').errors &&
              editDealForm.get('ownerId').touched) || (editDealForm.get('ownerId').value === 'undefined' &&
              editDealForm.get('ownerId').touched)}" formControlName="ownerId" class="form-control">
                <option [ngValue]="undefined" selected>Please Select Owner</option>
                <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
              </select>
              <label class="label-floated">Owner</label>
              <div class="invalid-feedback" *ngIf="editDealForm.get('ownerId').hasError('required') &&
             editDealForm.get('ownerId').touched">
                Please Select Owner
              </div>

              <div class="invalid-feedback" *ngIf="editDealForm.get('ownerId').value ==='undefined' &&
             editDealForm.get('ownerId').touched">
                Please Select Owner
              </div>
            </div>
            <!--Deal Company-->
            <div class="form-group">
              <select [ngClass]="{'is-invalid': (editDealForm.get('companyId').errors &&
               editDealForm.get('companyId').touched) || (editDealForm.get('companyId').value === 'undefined' &&
               editDealForm.get('companyId').touched)}" formControlName="companyId" class="form-control">
                <option [ngValue]="undefined" selected>Please Select Company</option>
                <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
              </select>
              <label class="label-floated">Company</label>

              <div class="invalid-feedback" *ngIf="editDealForm.get('companyId').hasError('required') &&
             editDealForm.get('companyId').touched">
                Please Select Company
              </div>

              <div class="invalid-feedback" *ngIf="editDealForm.get('companyId').value ==='undefined' &&
             editDealForm.get('companyId').touched">
                Please Select Company
              </div>
            </div>

             <!--Deal Type-->
             <div class="form-group">
               <select (change)="onTypeChange($event)" [ngClass]="{
                  'is-invalid':
                    (editDealForm.get('type').errors &&
                      editDealForm.get('type').touched) ||
                    (editDealForm.get('type').value === 'undefined' &&
                      editDealForm.get('type').touched)
                }" formControlName="type" class="form-control">
                 <option [ngValue]="undefined" selected>Please Select Deal Type</option>
                 <option *ngFor="let type of dealTypes" [value]="type.id">{{ type.name }}
                 </option>
               </select>
               <label class="label-floated">Deal Type</label>

               <div class="invalid-feedback" *ngIf="
                  editDealForm.get('type').hasError('required') &&
                  editDealForm.get('type').touched
                ">
                 Please Select Deal Type
               </div>

               <div class="invalid-feedback" *ngIf="
                  editDealForm.get('type').value === 'undefined' &&
                  editDealForm.get('type').touched
                ">
                 Please Select Deal Type
               </div>
             </div>

            <!--Deal Amount-->
            <div class="form-group">
              <label class="label-floated">Expected Amount</label>
              <input 
              #expectAmountRef
              [ngClass]="{'is-invalid': (editDealForm.get('expectedAmount').errors &&
              editDealForm.get('expectedAmount').touched) || (editDealForm.get('expectedAmount').value === 'undefined'
              && editDealForm.get('expectedAmount').touched)}" formControlName="expectedAmount" class="form-control"
                type="number">
                <div class="invalid-feedback">
                  Expected Amount is Required
                </div>
            </div>

            <!--Close Date-->
            <div class="form-group">
              <label class="label-floated">Expected Close Date</label>
              <input placeholder="yyy-mm-dd" autocomplete="off" formControlName="expectedCloseDate" class="form-control"
                [bsConfig]="datePickerConfig" bsDatepicker type="text">
            </div>
            <!--Deal Stage-->
            <div class="form-group">
              <select [ngClass]="{'is-invalid': (editDealForm.get('pipelineStageId').errors &&
              editDealForm.get('pipelineStageId').touched) || (editDealForm.get('pipelineStageId').value === 'undefined'
              && editDealForm.get('pipelineStageId').touched)}" formControlName="pipelineStageId" class="form-control">
                <option [ngValue]="undefined" selected>Please Select Stage</option>
                <option *ngFor="let stage of stages" [value]="stage.id">{{stage.name}}</option>
              </select>
              <label class="label-floated">Deal Stage</label>

              <div class="invalid-feedback" *ngIf="editDealForm.get('pipelineStageId').hasError('required') &&
             editDealForm.get('pipelineStageId').touched">
                Please Select Deal Stage
              </div>

              <div class="invalid-feedback" *ngIf="editDealForm.get('pipelineStageId').value ==='undefined' &&
             editDealForm.get('pipelineStageId').touched">
                Please Select Deal Stage
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer modal-footer-uniform">
          <button type="button" (click)="close()" class="btn btn-default" data-dismiss="modal">Close</button>
          <button [disabled]="!editDealForm.valid && editDealForm.touched" type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
