<div bsModal #newEmailModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="newEmailModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Draft Your Email Below")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-type-material">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input name="subject" [(ngModel)]="email.recipient" placeholder="Recipient" type="email"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <input name="subject" [(ngModel)]="email.subject" placeholder="Subject" type="text"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea rows="5" name="message" [(ngModel)]="email.message" id="summernote"
                                data-provide="summernote" class="form-control" data-min-height="150"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="button" (click)="sendEmail()" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
