<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l('Prospect / Company Prospecting')}}</strong></h4>
    <div class="card-body form-type-material">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input name="country" [(ngModel)]="country" class="form-control" readonly>
                    <label class="label-floated">Country</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <select name="industry" [(ngModel)]="industry" class="form-control" id="industry">
                        <option value="">Choose industry...</option>
                        <option *ngFor="let industry of industries" [value]="industry.value">{{industry.value}}</option>
                    </select>
                    <label class="label-floated">Industry</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <select name="city" [(ngModel)]="city" class="form-control" id="city">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities" [value]="city.value">{{city.value}}</option>
                    </select>
                    <label class="label-floated">City</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select name="beeStatus" [(ngModel)]="beeStatusString" class="form-control" id="compSize">
                        <option value="">Select One...</option>
                        <option *ngFor="let status of beeStatus" [value]="status.value">{{status.value}}</option>
                    </select>
                    <label class="label-floated" for="beeStatus">BEE Status</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="companySize" [(ngModel)]="companySize" class="form-control" id="compSize">
                        <option value="">Select Company Size</option>
                        <option *ngFor="let size of companySizes" [value]="size.value">{{size.value}}</option>
                    </select>
                    <label class="label-floated" for="companySize">Company Size</label>
                </div>
            </div>

        </div>
        <div class="float-right">
            <button (click)="search()" type="button" class="btn btn-primary float-right">start search <i
                    class="fa fa-search"></i></button>
        </div>

    </div>
    <div class="row" *ngIf="companySearch">
        <div class="col-lg-12">
            <div class="media-list media-list-divided media-list-hover">

                <div class="media"
                    *ngFor="let company of companyProspects | paginate:{itemsPerPage: noOfItems, currentPage: page}; let i=index;">
                    <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}" href="javascript:void(0)"
                        (click)="viewFullProfile(company, i)">
                        <span>{{getInitial(company.name)}}</span>
                    </a>

                    <div class="media-body">
                        <p>
                            <a class="hover-primary" href="javascript:void(0)"
                                (click)="viewFullProfile(company, i)"><strong>{{company.name}}</strong></a>
                            <!--<small class="sidetitle">Online</small>-->
                        </p>
                        <p>{{company.industry}}</p>
                        <nav class="nav no-gutters mt-2">
                            <a class="nav-link" href="http://{{company.facebook}}" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a class="nav-link" href="http://{{company.twitter}}" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                            <a class="nav-link" href="http://{{company.linkedIn}}" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </nav>
                    </div>

                    <div class="media-right gap-items">
                        <a class="media-action lead" href="javascript:void(0)" (click)="viewFullProfile(company, i)"
                            data-provide="tooltip" title="Full Profile"><i class="ti-id-badge"></i></a>
                        <div class="btn-group">
                            <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                    class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="showContacts(company)" href="javascript:void(0);"><i
                                        class="ti-menu-alt"></i>View Contacts</a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="viewFullProfile(company, i)"><i class="ti-id-badge ti-"></i> View Full
                                    Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" *ngIf="totalItems === 0">
            <div class="card">
                <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                <h4 class="text text-center">No Prospects Match Your Criteria</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <nav class="mt-3" *ngIf="totalItems > noOfItems">
                <div class="pagination justify-content-center">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </nav>
        </div>
    </div>
</div>
<app-company-info #companyInfoModal></app-company-info>
<app-company-profile #companyProfileModal></app-company-profile>
