aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.optional .step-indicator {
    background-color: #511261 !important;
}
aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.current .step-indicator {
    color: #fff;
    font-weight: 400;
    background-color: #511261;
}
.btn:disabled {
    pointer-events: none;
}