<div [@routerTransition] class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-lg-12">
        <div class="card card-shadowed px-50 py-30 w-900px mx-auto" style="max-width: 100%">
            <h3 class="text-uppercase text-center">Tell us more about yourself</h3>
            <br>
            <form [formGroup]="confirmationForm" (ngSubmit)="save()">
                <div class="card">
                    <div #cardBody class="card-body">
                        <aw-wizard [navBarLayout]="'large-filled-symbols'" [navigationMode]="'strict'">
                            <aw-wizard-step stepTitle="Sales Targets" [navigationSymbol]="{ symbol: '1' }">
                                <p class="text-center fs-35 text-muted">
                                    Tell us what you wants to achieve in
                                    <strong class="text-primary">sales</strong>
                                </p>
                                <p class="text-center text-gray">
                                    Efficiently reinvent market-driven products without sustainable innovation.
                                </p>
                                <hr class="w-100px">
                                <br>
                                <div class="form-type-material">
                                    <h5 class="text-uppercase">Small Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Monthly Targeted Revenue</label>
                                                <input [ngClass]="{'is-invalid':
                                                confirmationForm.get('targetedMonthlyTurnoverSD').errors &&
                                                confirmationForm.get('targetedMonthlyTurnoverSD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverSD"
                                                    type="number">
                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                    value="{{confirmationForm.get('targetedMonthlyTurnoverSD').value  / 4}}"
                                                    readonly formControlName="averageDealSizeSD" type="number">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="text-uppercase">Medium Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input [ngClass]="{'is-invalid':
                                                confirmationForm.get('targetedMonthlyTurnoverMD').errors &&
                                                confirmationForm.get('targetedMonthlyTurnoverMD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverMD"
                                                    type="number">
                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                                <label>Monthly Targeted Revenue</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" readonly
                                                    value="{{confirmationForm.get('targetedMonthlyTurnoverMD').value / 4}}"
                                                    formControlName="averageDealSizeMD" type="number">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="text-uppercase">Big Deals</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Monthly Targeted Revenue</label>
                                                <input [ngClass]="{'is-invalid':
                                                confirmationForm.get('targetedMonthlyTurnoverBD').errors &&
                                                confirmationForm.get('targetedMonthlyTurnoverBD').touched}"
                                                    class="form-control" formControlName="targetedMonthlyTurnoverBD"
                                                    type="number">
                                                <div class="invalid-feedback">
                                                    Monthly Targeted Revenue is Required
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" readonly
                                                    value="{{confirmationForm.get('targetedMonthlyTurnoverBD').value / 4}}"
                                                    formControlName="averageDealSizeBD" type="number">
                                                <label class="label-floated">Average Deal Size (per week)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right" type="button" awNextStep>Next</button>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Company Information" [navigationSymbol]="{ symbol: '2' }">
                                <p class="text-center fs-35 text-muted">
                                    Tell us more about
                                    <strong class="text-primary">yourself</strong>
                                </p>
                                <p class="text-center text-gray">
                                    For us to serve you better, please help us with the information below.
                                </p>
                                <hr class="w-100px">
                                <br>
                                <div class="form-type-material">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (confirmationForm.get('province').errors &&
                                                confirmationForm.get('province').touched) ||
                                                (confirmationForm.get('province').value === 'undefined' &&
                                                confirmationForm.get('province').touched)}" class="form-control"
                                                    formControlName="province">
                                                    <option [value]="undefined" selected>
                                                        Please select Province
                                                    </option>
                                                    <option *ngFor="let province of provinces" [value]="province.value">
                                                        {{province.value}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select Province
                                                </div>
                                                <label class="label-floated">Province</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (confirmationForm.get('city').errors &&
                                                confirmationForm.get('city').touched) ||
                                                (confirmationForm.get('city').value === 'undefined' &&
                                                confirmationForm.get('city').touched)}" class="form-control"
                                                    formControlName="city">
                                                    <option [value]="undefined" selected>
                                                        Please select City
                                                    </option>
                                                    <option *ngFor="let city of cities" [value]="city.value">
                                                        {{city.value}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select City
                                                </div>
                                                <label class="label-floated">City</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select [ngClass]="{'is-invalid':
                                        (confirmationForm.get('industry').errors &&
                                        confirmationForm.get('industry').touched) ||
                                        (confirmationForm.get('industry').value === 'undefined' &&
                                        confirmationForm.get('industry').touched)}" class="form-control"
                                            formControlName="industry">
                                            <option [value]="undefined" selected>
                                                Please select Industry
                                            </option>
                                            <option *ngFor="let industry of industries" [value]="industry.value">
                                                {{industry.value}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select Industry
                                        </div>
                                        <label class="label-floated">Industry</label>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (confirmationForm.get('size').errors &&
                                                confirmationForm.get('size').touched) ||
                                                (confirmationForm.get('size').value === 'undefined' &&
                                                confirmationForm.get('size').touched)}" class="form-control"
                                                    formControlName="size">
                                                    <option [value]="undefined" selected>
                                                        Please Select Company Size
                                                    </option>
                                                    <option *ngFor="let size of companySize" [value]="size.value">
                                                        {{size.value}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please Select Company Size
                                                </div>
                                                <label class="label-floated">Company Size</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (confirmationForm.get('turnover').errors &&
                                                confirmationForm.get('turnover').touched) ||
                                                (confirmationForm.get('turnover').value === 'undefined' &&
                                                confirmationForm.get('turnover').touched)}" class="form-control"
                                                    formControlName="turnover">
                                                    <option [value]="undefined" selected>
                                                        Please Select Annual Turnover
                                                    </option>
                                                    <option *ngFor="let turnover of estBracket"
                                                        [value]="turnover.value">
                                                        R{{turnover.value}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please Select Annual Turnover
                                                </div>
                                                <label class="label-floated">Est. Annual Turnover</label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <select [ngClass]="{'is-invalid':
                                        (confirmationForm.get('beeStatus').errors &&
                                        confirmationForm.get('beeStatus').touched) ||
                                        (confirmationForm.get('beeStatus').value === 'undefined' &&
                                        confirmationForm.get('beeStatus').touched)}" class="form-control"
                                            formControlName="beeStatus">
                                            <option [value]="undefined" selected>
                                                Please Select Bee Status
                                            </option>
                                            <option *ngFor="let status of beeStatus" [value]="status.value">
                                                {{status.value}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Bee Status
                                        </div>
                                        <label class="label-floated">BEE Status</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Size">Service Offering</label>
                                    <tag-input (onAdd)="onServiceOfferingAdd($event)"
                                        (onRemove)="onServiceOfferingRemove($event)" [(ngModel)]="selectedServices"
                                        [ngModelOptions]="{standalone: true}"
                                        [secondaryPlaceholder]="'Add a new service'"
                                        [placeholder]="'Add a new service'">
                                        <tag-input-dropdown [identifyBy]="'id'" [displayBy]="'value'"
                                            [showDropdownIfEmpty]="true" [autocompleteItems]="serviceOffering">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>

                                <div class="form-group">
                                    <label for="Size">Who are you likely to work with?</label>
                                    <tag-input (onAdd)="onTargetIndustryAdd($event)"
                                        (onRemove)="onTargetIndustryRemove($event)" [(ngModel)]="selectedIndustries"
                                        [ngModelOptions]="{standalone: true}"
                                        [secondaryPlaceholder]="'Add a new industry'"
                                        [placeholder]="'Add a new industry'">
                                        <tag-input-dropdown [identifyBy]="'id'" [displayBy]="'value'"
                                            [showDropdownIfEmpty]="true" [autocompleteItems]="industries">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-default" type="button" awPreviousStep>Back</button>
                                    <button class="btn btn-primary" type="button" awNextStep>Next</button>
                                </div>

                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="User Infromation" [navigationSymbol]="{ symbol: '3' }">
                                <p class="text-center fs-35 text-muted">
                                    Tell us more about
                                    <strong class="text-primary">yourself</strong>
                                </p>
                                <p class="text-center text-gray">For us to serve you better, please help us with the
                                    information below.</p>
                                <hr class="w-100px">
                                <br>
                                <div class="form-type-material">
                                    <div class="form-group">
                                        <select [ngClass]="{'is-invalid':
                                        (confirmationForm.get('department').errors &&
                                        confirmationForm.get('department').touched) ||
                                        (confirmationForm.get('department').value === 'undefined' &&
                                        confirmationForm.get('department').touched)}" class="form-control"
                                            formControlName="department">
                                            <option [value]="undefined" selected>
                                                Please select Department
                                            </option>
                                            <option *ngFor="let dep of departments" [ngValue]="dep.value">
                                                {{dep.value}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Department
                                        </div>
                                        <label class="label-floated">Department</label>
                                    </div>
                                    <div class="form-group">
                                        <select [ngClass]="{'is-invalid':
                                        (confirmationForm.get('jobTitle').errors &&
                                        confirmationForm.get('jobTitle').touched) ||
                                        (confirmationForm.get('jobTitle').value === 'undefined' &&
                                        confirmationForm.get('jobTitle').touched)}" formControlName="jobTitle"
                                            class="form-control">
                                            <option [value]="undefined" selected>
                                                Please select Job Title
                                            </option>
                                            <option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.value">
                                                {{jobTitle.value}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Job Title
                                        </div>
                                        <label class="label-floated">Position/Job Title</label>
                                    </div>

                                    <div class="form-group">
                                        <select [ngClass]="{'is-invalid':
                                                 (confirmationForm.get('yearsOfExperience').errors &&
                                                 confirmationForm.get('yearsOfExperience').touched) ||
                                                 (confirmationForm.get('yearsOfExperience').value === 'undefined' &&
                                                 confirmationForm.get('yearsOfExperience').touched)}"
                                            class="form-control" formControlName="yearsOfExperience">
                                            <option [value]="undefined" selected>
                                                Please Select Years Of Experience
                                            </option>
                                            <option *ngFor="let exp of experience" [value]="exp.value">
                                                {{exp.value}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Years Of Experience
                                        </div>
                                        <label class="label-floated">Experience</label>
                                    </div>

                                </div>

                                <div class="pull-right">
                                    <button class="btn btn-default" type="button" awPreviousStep>Back</button>
                                    <button class="btn btn-primary" type="button" awNextStep>Next</button>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Thank You" [navigationSymbol]="{ symbol: '4' }">
                                <p class="text-center fs-35 text-muted">Ready to go?</p>
                                <p class="text-center text-gray">Thank you,we have processes all the information
                                    provided. Please click on "finish" to login to your account and use the
                                    information below.</p>
                                <hr class="w-100px">
                                <br>
                                <div class="px-20 col-l-g-8">

                                    <div class="form-group row center-h">
                                        <label class="col-form-label col-sm-4 text text-right">Company
                                            Domain:</label>
                                        <div class="form-control-plaintext col-sm-8">domain.saleshack.io</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-4 text text-right">Username: </label>
                                        <div class="form-control-plaintext col-sm-8">Client username here</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-4 text text-right">Email: </label>
                                        <div class="form-control-plaintext col-sm-8">name@domain.co.za</div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button class="btn btn-default" type="button" awPreviousStep>Back</button>
                                        <div [tooltip]="submitToolTip()">
                                            <button [disabled]="!confirmationForm.valid" class="btn btn-primary"
                                                type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0">
            <small>
                Copyright © 2017
                <a href="http://saleshack.io/">Saleshack.io</a>. All rights reserved.
            </small>
        </p>
    </footer>
</div>
