<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l('Prospect / Domain Search')}}</strong></h4>
    <div class="card-body">
        <form [formGroup]="searchForm" class="form-horizontal" role="search">
            <div class="form-group input-group form-type-material">
                <input [ngClass]="{'is-invalid':
                    searchForm.get('domain').errors &&
                    searchForm.get('domain').touched}" formControlName="domain" type="url" class="form-control"
                    placeholder="Enter URL" name="domain">
                <div class="input-group-btn">
                    <button [disabled]="!searchForm.valid" (click)="getEmails()" class="btn btn-primary"
                        type="submit"><i class="fa fa-search"></i></button>
                </div>

                <div class="invalid-feedback" *ngIf="searchForm.get('domain').hasError('required') && 
                                                searchForm.get('domain').touched">
                    Website Url is Required
                </div>
                <div class="invalid-feedback" *ngIf="searchForm.get('domain').hasError('pattern') && 
                                                searchForm.get('domain').touched">
                    Please enter a valid website url
                </div>

            </div>
        </form>
        <div class="row" *ngIf="visible">
            <table class="table" data-provide="selectall">
                <thead>
                    <tr *ngIf="emails.length > 0">
                        <th>
                            <h5 class="text text-primary">Emails Found</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let email of emails; let i=index">
                        <td>{{email}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-pure dropdown-toggle"
                                    data-toggle="dropdown">Action</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item fa fa-plus" (click)="createContact(); getEmail(i)"
                                        href="javascript:void(0);">Add To Contacts</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-12" *ngIf="emails.length===0">
                <div class="card">
                    <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                    <h4 class="text text-center">No Emails Found</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<app-create-contact-info #createContactInfoModal [email]="email"></app-create-contact-info>
