<div bsModal #createContactModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="createContactForm" id="frm_create_contact" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Create New Contact")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body form-type-material">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#contact-info">Contact
                                            Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#social-links">Social Media
                                            Links</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#associations">Associated / Related
                                            Company</a>
                                    </li>

                                </ul>

                                <!-- Tab Content-->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active show" id="contact-info">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input [ngClass]="{'is-invalid': createContactForm.get('name').errors &&
                                                     createContactForm.get('name').touched}" #nameInput
                                                        class="form-control" type="text" formControlName="name">
                                                    <div class="invalid-feedback">
                                                        Name is Required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input [ngClass]="{'is-invalid': createContactForm.get('surname').errors &&
                                                    createContactForm.get('surname').touched}" class="form-control"
                                                        type="text" formControlName="surname">

                                                    <div class="invalid-feedback">
                                                        Last Name is Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [ngClass]="{'is-invalid': (createContactForm.get('industry').errors &&
                                                    createContactForm.get('industry').touched) ||
                                                    (createContactForm.get('industry').value === 'undefined' &&
                                                    createContactForm.get('industry').touched)}"
                                                        formControlName="industry" class="form-control">
                                                        <option [value]="undefined" selected>Choose industry...</option>
                                                        <option *ngFor="let industry of industries"
                                                            [value]="industry.value">{{industry.value}}</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please Select an Industry
                                                    </div>
                                                    <label class="label-floated">Industry</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                     <select [ngClass]="{'is-invalid': (createContactForm.get('province').errors &&
                                                    createContactForm.get('province').touched) ||
                                                    (createContactForm.get('province').value === 'undefined' &&
                                                    createContactForm.get('province').touched)}"
                                                         formControlName="province" class="form-control">
                                                         <option [value]="undefined" selected>Please Select Province
                                                         </option>
                                                         <option *ngFor="let province of provinces"
                                                             [value]="province.value">{{province.value}}</option>
                                                     </select>
                                                     <div class="invalid-feedback">
                                                         Please Select Province
                                                     </div>
                                                     <label class="label-floated">Province</label>
                                                 </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input [ngClass]="{'is-invalid': createContactForm.get('email').errors &&
                                                    createContactForm.get('email').touched}" class="form-control"
                                                        type="email" formControlName="email">
                                                    <div *ngIf="createContactForm.get('email').hasError('email') &&
                                                     createContactForm.get('email').touched" class="invalid-feedback">
                                                        Please Enter a Valid Email Address
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="createContactForm.get('email').hasError('required') && 
                                                createContactForm.get('email').touched">
                                                        Email Address is Required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [ngClass]="{'is-invalid': (createContactForm.get('source').errors
                                                    &&
                                                    createContactForm.get('source').touched) ||
                                                    (createContactForm.get('source').value === 'undefined' &&
                                                    createContactForm.get('source').touched)}" formControlName="source"
                                                        class="form-control" class="form-control">
                                                        <option [value]="undefined" selected>Please select a Source
                                                        </option>
                                                        <option *ngFor="let source of sources">{{source.value}}</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please Select a Source
                                                    </div>
                                                    <label class="label-floated">Source</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cellphone</label>
                                                    <input [ngClass]="{'is-invalid': createContactForm.get('cellphone').errors &&
                                                    createContactForm.get('cellphone').touched}" class="form-control"
                                                        type="tel" formControlName="cellphone">

                                                    <div class="invalid-feedback">
                                                        Cellphone is Required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [ngClass]="{'is-invalid': (createContactForm.get('city').errors &&
                                                    createContactForm.get('city').touched) ||
                                                    (createContactForm.get('city').value === 'undefined' &&
                                                    createContactForm.get('city').touched)}" formControlName="city"
                                                        class="form-control">
                                                        <option [value]="undefined" selected>Select City</option>
                                                        <option *ngFor="let city of cities" [value]="city.value">
                                                            {{city.value}}</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please Select a City
                                                    </div>
                                                    <label class="label-floated">City</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [ngClass]="{'is-invalid': (createContactForm.get('jobTitle').errors &&
                                                    createContactForm.get('jobTitle').touched) ||
                                                    (createContactForm.get('jobTitle').value === 'undefined' &&
                                                    createContactForm.get('jobTitle').touched)}"
                                                        formControlName="jobTitle" class="form-control"
                                                        class="form-control">
                                                        <option [value]="undefined" selected>Please select a Job Title
                                                        </option>
                                                        <option *ngFor="let jobTitle of jobTitles">{{jobTitle.value}}
                                                        </option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please Select Job Title
                                                    </div>
                                                    <label class="label-floated">Job Title</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select [ngClass]="{'is-invalid':
                                                    (createContactForm.get('department').errors &&
                                                    createContactForm.get('department').touched) ||
                                                    (createContactForm.get('department').value === 'undefined' &&
                                                    createContactForm.get('department').touched)}"
                                                        formControlName="department" class="form-control">
                                                        <option [value]="undefined" selected>Select Department</option>
                                                        <option *ngFor="let department of departments">
                                                            {{department.value}}</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please Select a Department
                                                    </div>
                                                    <label class="label-floated">Department</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="social-links">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Special Events</label>
                                                    <input class="form-control" type="text"
                                                        formControlName="specialEvents">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Facebook</label>
                                                    <input class="form-control" type="text" formControlName="facebook">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>LinkedIn</label>
                                                    <input class="form-control" type="text" formControlName="linkedIn">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>GooglePlus</label>
                                                    <input class="form-control" type="text"
                                                        formControlName="googlePlus">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Instagram</label>
                                                    <input class="form-control" type="text" formControlName="instagram">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Twitter</label>
                                                    <input class="form-control" type="text" formControlName="twitter">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="associations">
                                        <small>(this person works for)</small>

                                        <select [ngClass]="{'is-invalid':
                                        (createContactForm.get('companyId').errors &&
                                        createContactForm.get('companyId').touched) ||
                                        (createContactForm.get('companyId').value === 'undefined' &&
                                        createContactForm.get('companyId').touched)}" formControlName="companyId"
                                            class="form-control">
                                            <option [value]="undefined" selected>Please Select Company</option>
                                            <option *ngFor="let company of companies" [value]="company.id">
                                                {{company.name}}</option>
                                        </select>

                                        <div class="invalid-feedback">
                                            Please Select Associated Company
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
