<aside class="sidebar sidebar-dark sidebar-expand-lg">
    <app-sidebar-nav></app-sidebar-nav>
</aside>
<!-- Topbar -->
<header class="topbar">
    <app-top-bar></app-top-bar>
</header>

<!-- Main container -->
<main>
    <div class="main-content" style="min-height:720px;">
        <app-loader></app-loader>
        <router-outlet></router-outlet>
    </div><!--/.main-content -->
    <!-- Footer -->
    <footer class="site-footer">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center text-md-left">Copyright © 2017 <a href="http://saleshack.io" target="_blank">Saleshack.io</a>. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Upgrade Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END Footer -->
</main>
<!-- END Main container -->
