<div bsModal #createOutreachModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xlg">
        <div #modalContent class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Draft Your Email Below")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card form-type-material">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Subject</label>
                            <input required name="subject" type="text" class="form-control"
                                [(ngModel)]="email.subject" />
                        </div>
                        <textarea rows="5" name="message" [(ngModel)]="email.message" id="summernote"
                            data-provide="summernote" class="form-control" data-min-height="150"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" (click)="close()" class="btn btn-default">Cancel</button>
                <button type="button" (click)="save()" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
