<div class="main-content" [@routerTransition]>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <!-- Page aside -->
                <div class="card-body">
                    <div class="aside-body">
                        <div class="aside-block">
                            <div class="flexbox align-items-center mb-1">
                                <h6 class="aside-title fs-13">UnQualified</h6>
                                <!-- <a class="float-right text-lighter hover-success" href="#" data-provide="tooltip" data-title="Create New Group" data-toggle="modal" data-target="#modal-add-group"><i class="ti-plus"></i></a> -->
                            </div>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(7,'Qualify')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-danger"></span>
                                        <span>Last 7 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(30,'Qualify')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-warning"></span>
                                        <span>Last 30 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(90,'Qualify')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>Last 90 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getLast90Days(91,'Qualify')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>More Than 90 Days</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="aside-block">
                            <div class="flexbox align-items-center mb-1">
                                <h6 class="aside-title fs-13">Qualified</h6>
                                <!-- <a class="float-right text-lighter hover-success" href="#" data-provide="tooltip" data-title="Create New Group" data-toggle="modal" data-target="#modal-add-group"><i class="ti-plus"></i></a> -->
                            </div>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(7,'Qualified');" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-danger"></span>
                                        <span>Last 7 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(30,'Qualified')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-warning"></span>
                                        <span>Last 30 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(90,'Qualified')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>Last 90 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getLast90Days(91,'Qualified')"
                                        href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>More Than 90 Days</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="aside-block">
                            <div class="flexbox align-items-center mb-1">
                                <h6 class="aside-title fs-13">Recycle</h6>
                                <!-- <a class="float-right text-lighter hover-success" href="#" data-provide="tooltip" data-title="Create New Group" data-toggle="modal" data-target="#modal-add-group"><i class="ti-plus"></i></a> -->
                            </div>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(7,'Recycle')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-danger"></span>
                                        <span>Last 7 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(30,'Recycle')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-warning"></span>
                                        <span>Last 30 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getAll(90,'Recycle')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>Last 90 Days</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="getLast90Days(91,'Recycle')" href="javascript:void(0)">
                                        <span class="badge badge-ring badge-purple"></span>
                                        <span>More Than 90 Days</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" data-provide="selectall">
                            <thead>
                                <tr class="text-right table-actions">
                                    <th colspan="9">
                                        <div class="btn-group  pull-right">
                                            <button class="btn btn-primary dropdown-toggle" [disabled]="disabled"
                                                data-toggle="dropdown">Bulk Action</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="showSMSOutreach()"><i class=" fa fa-comment"></i>Send
                                                    SMS</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="showEmailOutreach()"><i class="fa fa-envelope"></i>Send
                                                    Email</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th *ngIf="isQualified" class="w-40px">
                                        <label (click)="selectAll()" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </th>
                                    <th>{{l("Full Name")}}</th>
                                    <th>{{l("Cellphone")}}</th>
                                    <th>{{l("Department")}}</th>
                                    <th>{{l("Province")}}</th>
                                    <th>{{l("City")}}</th>
                                    <th>{{l("Job Title")}}</th>
                                    <th>{{l('Actions')}}</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let contact of list;  let i=index">
                                    <td *ngIf="isQualified">
                                        <label class="custom-control custom-checkbox">
                                            <input id="{{contact.cellphone}}" type="checkbox"
                                                value="{{contact.cellphone}}" class="custom-control-input"
                                                ng-checked="ids.indexOf(contact.cellphone) > -1"
                                                (click)="toggleSelection(contact.cellphone); emailSelection(contact.email)">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td>{{contact.name}} {{contact.surname}}</td>
                                    <td>{{contact.cellphone}}</td>
                                    <td>{{contact.department}}</td>
                                    <td>{{contact.province}}</td>
                                    <td>{{contact.city}}</td>
                                    <td>{{contact.jobTitle}}</td>
                                    <td *ngIf="contact.status === 'Qualify'" class="text-right table-actions">
                                        <a class="table-action hover-primary" (click)="createModal(contact);"
                                            href="javascript:void(0);"><i class="fa fa-graduation-cap"></i></a>

                                    </td>
                                    <td class="text-right table-actions" *ngIf="contact.status === 'Qualified'">
                                        <div class="dropdown table-action">
                                            <span class="dropdown-toggle no-caret hover-primary"
                                                data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="showSMSOutreach()"><i class=" fa fa-comment"></i>Send
                                                    SMS</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="showEmailOutreach()"><i class="fa fa-envelope"></i>Send
                                                    Email</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-phone"></i>Call</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="showDealModal()"><i class="fa fa-handshake-o"></i>Convert
                                                    to Deal</a>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="text-right table-actions" *ngIf="contact.status === 'Recycle'">
                                        <div class="dropdown table-action">
                                            <span class="dropdown-toggle no-caret hover-primary"
                                                data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="createModal(contact);"
                                                    href="javascript:void(0);"><i
                                                        class=" fa fa-comment"></i>Re-Qualify</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="fa fa-bar-chart"></i>View Report</a>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr *ngIf="list.length==0">
                                    <td colspan="9" class="mt-3 text text-center">
                                        <span class="text-center">
                                            <i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                        <h3 class="text-primary">No Contacts Have Been Added</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-create-qualification #createQualificationModal></app-create-qualification>
<app-outreach-email #createOutreachModal></app-outreach-email>
<app-outreach-sms #createSMSOutreachModal></app-outreach-sms>
<app-create-deal #createDealComponent></app-create-deal>
