<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l('All Prospects')}}</strong></h4>
    <div class="card-body">
        <div class="row form-type-material">
            <div class="col-md-2">
                <div class="form-group">
                    <input id="fromDate" name="fromDate" placeholder="yyyy-mm-dd" [(ngModel)]="fromDate" type="text"
                        [bsConfig]="datePickerConfig" bsDatepicker class="form-control" />
                    <label for="fromDate" class="label-floated">From</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="toDate" name="toDate" placeholder="yyyy-mm-dd" [(ngModel)]="toDate" type="text"
                        [bsConfig]="datePickerConfig" bsDatepicker class="form-control" />
                    <label for="toDate" class="label-floated">To</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select id="jobTitle" name="jobTitle" [(ngModel)]="jobTitle" class="form-control">
                        <option value="">Select One...</option>
                        <option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.value">{{jobTitle.value}}</option>
                    </select>
                    <label for="jobTitle" class="label-floated">Job Title</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">

                    <select name="industry" [(ngModel)]="industry" class="form-control" id="industry">
                        <option value="">Choose industry...</option>
                        <option *ngFor="let industry of industries" value="industry.value">{{industry.value}}</option>
                    </select>
                    <label for="industry" class="label-floated">Industry</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="city" [(ngModel)]="city" class="form-control" id="city">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities" [value]="city.value">{{city.value}}</option>

                    </select>
                    <label for="city" class="label-floated">City</label>
                </div>

            </div>
            <div class="col-md-2">
                <button (click)="search()" class="btn btn-bold btn-primary" type="button">Compile <i
                        class="fa fa-list-alt"></i></button>
            </div>

        </div>

        <div class="table-responsive">
            <div class="row">
                <table class="table" data-provide="selectall" *ngIf="shown">
                    <thead>
                        <tr>
                            <th class="w-40px">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <th>{{l("Name")}}</th>
                            <th>{{l("Last Name")}}</th>
                            <th>{{l("Email")}}</th>
                            <th>{{l("Industry")}}</th>
                            <th>{{l("Job Title")}}</th>
                            <th>{{l("City")}}</th>
                            <th>{{l("Company")}}</th>
                            <th>{{l('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prospect of prospects; let i = index">
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>

                            <td>{{prospect.contactProspect.name}}</td>
                            <td>{{prospect.contactProspect.surname}}</td>
                            <td>{{prospect.contactProspect.email}}</td>
                            <td>{{prospect.contactProspect.industry}}</td>
                            <td>{{prospect.contactProspect.jobTitle}}</td>
                            <td>{{prospect.contactProspect.city}}</td>
                            <td>{{prospect.contactProspect.contactCompany}}</td>

                            <td class="table-actions">

                                <div class="dropdown table-action">
                                    <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i
                                            class="ti-more-alt rotate-90"></i></span>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="qualify(i)" href="javascript:void(0);"><i
                                                class="fa  fa-graduation-cap"></i>Qualify</a>
                                        <a class="dropdown-item" (click)="delete(prospect)"
                                            href="javascript:void(0);"><i class="ti-trash"></i>Delete Prospect</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!prospects || prospects.length==0">
                            <td style="text-align:center" colspan="9">
                                 <span class="text-center">
                                     <i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                 <h3 class="text-primary">No Prospects Found for the selected criteria</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
