<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l('Company Name Search')}}</strong></h4>
    <div class="card-body">
        <form class="form-horizontal" role="search">
            <div class="input-group form-type-material">
                <input type="text" class="form-control" placeholder="Start typing..." [formControl]="searchTerm">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="media-list media-list-divided media-list-hover">
            <div class="media"
                *ngFor="let company of searchResult | paginate:{itemsPerPage: noOfItems, currentPage: page}; let i=index;">
                <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}" href="javascript:void(0)"
                    (click)="viewFullProfile(company, i)">
                    <span>{{getInitial(company.name)}}</span>
                </a>

                <div class="media-body">
                    <p>
                        <a class="hover-primary" href="javascript:void(0)"
                            (click)="viewFullProfile(company, i)"><strong>{{company.name}}</strong></a>
                    </p>
                    <p>{{company.industry}}</p>
                    <nav class="nav no-gutters mt-2">
                        <a class="nav-link" href="http://{{company.facebook}}" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a class="nav-link" href="http://{{company.twitter}}" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="nav-link" href="http://{{company.linkedIn}}" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                    </nav>
                </div>

                <div class="media-right gap-items">
                    <a class="media-action lead" href="javascript:void(0)" (click)="viewFullProfile(company, i)"
                        data-provide="tooltip" title="Full Profile"><i class="ti-id-badge"></i></a>
                    <div class="btn-group">
                        <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                class="ti-more-alt rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" (click)="showContacts(company)" href="javascript:void(0);"><i
                                    class="ti-menu-alt"></i>View Contacts</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="viewFullProfile(company, i)"><i
                                    class="ti-id-badge ti-"></i> View Full Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="search">
                <div class="mt-3 text text-center">
                    <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                    <h3 class="text-primary">No Results Found</h3>
                </div>
            </div>
        </div>

        <nav class="mt-3" *ngIf="totalItems > noOfItems">
            <div class="pagination justify-content-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </nav>
    </div>
</div>
<app-company-info #companyInfoModal></app-company-info>
<app-company-profile #companyProfileModal></app-company-profile>
