<div [@routerTransition]>
    <div #cardBody class="body" style="margin-bottom:-50px">
        <header class="block-header pt-40" style="text-align: center">
            <div class="header-title">
                <h1 class="text text-primary fw-700">
                    {{l("PaymentInfo")}}
                </h1>
            </div>
        </header>
        <div class="main-content">
            <div class="row no-gutters center-vh" style="padding-top: -50px">
                <div class="col-lg-6 align-center">
                    <form class="register-form" method="post" asp-action="PaymentResult" id="formPaymentResult">
                        <input type="hidden" name="EditionId" [(ngModel)]="edition.id" />
                        <input type="hidden" name="Gateway" [(ngModel)]="subscriptionPaymentGateway.Paypal" />
                        <input type="hidden" name="EditionPaymentType" [(ngModel)]="editionPaymentType" />

                        <div class="text-center mb-20 fs-16 fw-400">({{l("Edition")}}: {{edition.displayName}})</div>

                        <div *ngIf="edition.monthlyPrice" class="form-group">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" [value]="paymentPeriodType.Monthly"
                                    name="PaymentPeriodType"
                                    (change)="onPaymentPeriodChangeChange(paymentPeriodType.Monthly)" checked>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{l("MonthlyPrice")}}:
                                    R{{edition.monthlyPrice | number : '1.2-2'}}</span>
                            </label>
                        </div>

                        <div *ngIf="edition.annualPrice" class="form-group">
                         
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="PaymentPeriodType"
                                    (change)="onPaymentPeriodChangeChange(paymentPeriodType.Annual)"
                                    [value]="paymentPeriodType.Annual">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{l("AnnualPrice")}}:
                                    R{{edition.annualPrice | number : '1.2-2'}}</span>
                            </label>
                        </div>

                        <paymentGateways [(edition)]="edition" [(paymentPeriodType)]="selectedPaymentPeriodType"
                            [(editionPaymentType)]="editionPaymentType"></paymentGateways>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
