<input type="hidden" name="PaymentId" value="" />
<input type="hidden" name="PayerId" value="" />

<div *ngIf="demoUsername" class="alert alert alert-primary alert-dismissible fade show" role="alert">
    <!-- <div class="alert-icon">
        <i class="fa fa-exclamation"></i>
        <span></span>
    </div> -->
    <div class="text text-primary">
        <h4>
            {{l("DemoPayPalAccount")}}
        </h4>
        <p>
            <span>{{l("UserName")}}: <strong>{{demoUsername}}</strong></span><br />
            <span>{{l("Password")}}: <strong>{{demoPassword}}</strong></span>
        </p>
    </div>
</div>

<div id="paypal-button"></div>
<div *ngIf="paypalIsLoading"></div>
