<div class="card" [@routerTransition]>
    <header class="card-header">
        <h4 class="card-title"><strong>Pipeline</strong></h4>
        <div class="card-header-actions">
            <button tooltip="New Deal" type="button" data-toggle="modal" class="btn btn-primary pull-right" (click)="createDeal();">
                <i class="material-icons">add</i>
            </button>
        </div>
    </header>

    <div class="card-body">
        <app-board></app-board>
    </div>
</div>
<app-create-deal #createDealComponent></app-create-deal>
