<div #loginComponent [@routerTransition]>
    <div #cardBody>
        <form [formGroup]="loginForm" id="LoginForm" novalidate (ngSubmit)="login()" class="form-type-material">
            <div class="row no-gutters min-h-fullscreen bg-white">
                <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url(../assets/images/Login.png)" data-overlay="5">
                    <div class="row h-100 pl-50">
                        <div class="col-md-10 col-lg-8 align-self-end">
                            <img src="../assets/img/SalesHack-Logo.png" alt="...">
                            <br><br><br>

                            <p class="text-white">
                                Built to help you close more deals. Saleshack.io is a B2B “off the shelf”,
                                cloud based, salesforce automation sales tool, to help you accelerate and automate your sales process so as to increase revenue growth.
                            </p>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
                    <div class="px-80 py-30 form-type-material">

                        <h4>Login</h4>

                        <p><small>Sign into your account</small></p>

                        <label><small>You'll Be redirected to {{tenancyName}}.saleshack.io</small></label>
                        <div class="form-group">
                            <input type="text"
                                   [ngClass]="{'is-invalid': loginForm.get('userNameOrEmailAddress').errors &&
                                   loginForm.get('userNameOrEmailAddress').touched}"
                                   formControlName="userNameOrEmailAddress" class="form-control" id="username">
                            <div class="invalid-feedback"
                                 *ngIf="loginForm.get('userNameOrEmailAddress').hasError('required')
                                 && loginForm.get('userNameOrEmailAddress').touched">
                                Please Enter Username
                            </div>
                            <label>Username</label>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                    [ngClass]="{'is-invalid': loginForm.get('password').errors &&
                                   loginForm.get('password').touched}"
                                   formControlName="password"  class="form-control" id="password">
                            <div class="invalid-feedback"
                                 *ngIf="loginForm.get('password').hasError('required')
                                 && loginForm.get('password').touched">
                                Please Enter Password
                            </div>
                            <label for="password">Password</label>
                        </div>
                        <div class="form-group flexbox">
                            <label class="custom-control custom-checkbox">
                                <input formControlName ="rememberMe" type="checkbox" class="custom-control-input" checked name="rememberMe" id="rememberme">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Remember me</span>
                            </label>
                            <a class="text-muted hover-primary fs-13" [routerLink]="['/account/forgot-password']">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!loginForm.valid" class="btn btn-bold btn-block btn-primary" type="submit">Login</button>
                        </div>

                        <hr class="w-30px">

                        <p *ngIf="isSelfRegistrationAllowed" class="text text-center text-muted fs-13 mt-20">Don't have an account?  <a [routerLink]="['../select-edition']">{{l("Sign up")}}</a></p>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
