<div bsModal #createCompanyModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form [formGroup]="createCompanyForm" *ngIf="active" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Create New Company")}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body form-type-material">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#company-info">Company
                                        Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#contact-info">Contact Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#notes_tasks">Notes & Tasks</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show" id="company-info">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <input #nameInput [ngClass]="{'is-invalid':
                                                 createCompanyForm.get('name').errors &&
                                                 createCompanyForm.get('name').touched}" type="text"
                                                    class="form-control" formControlName="name">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('name').hasError('required') && 
                                                createCompanyForm.get('name').touched">
                                                    Please Enter Company Name
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                <input [ngClass]="{'is-invalid':
                                                 createCompanyForm.get('email').errors &&
                                                 createCompanyForm.get('email').touched}" class="form-control"
                                                    type="email" formControlName="email">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('email').hasError('required') && 
                                                createCompanyForm.get('email').touched">
                                                    Email Address is Required
                                                </div>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('email').hasError('email') && 
                                                createCompanyForm.get('email').touched">
                                                    Invalid Email Address
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select formControlName="size" [ngClass]="{'is-invalid':
                                                (createCompanyForm.get('size').errors &&
                                                createCompanyForm.get('size').touched) ||
                                            ( createCompanyForm.get('size').value === 'undefined' &&
                                            (createCompanyForm.get('size').touched))}" class="form-control">
                                                    <option [value]="undefined">Select Company Size</option>
                                                    <option *ngFor="let size of companySizes" [value]="size.value">
                                                        {{size.value}}</option>

                                                </select>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('size').value === 'undefined' && 
                                                createCompanyForm.get('size').touched">
                                                    Please Select Company Size
                                                </div>
                                                <label class="label-floated">Company Size</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select formControlName="phase" [ngClass]="{'is-invalid':
                                                 (createCompanyForm.get('phase').errors &&
                                                 createCompanyForm.get('phase').touched) ||
                                                 ( createCompanyForm.get('phase').value === 'undefined' &&
                                                 (createCompanyForm.get('phase').touched))}" class="form-control">
                                                    <option [value]="undefined" selected>Select Company Phase</option>
                                                    <option value="Awareness">Awareness</option>
                                                    <option value="Interest">Interest</option>
                                                    <option value="Decision">Decision</option>
                                                    <option value="Closed">Closed</option>
                                                    <option value="Maintenance">Maintenance</option>
                                                    <option value="Up-sell">Up-sell</option>
                                                    <option value="Un-Bundle/Next-Sell">Un-Bundle/Next-Sell</option>
                                                    <option value="Cross-Sell">Cross-Selln</option>
                                                    <option value="Referrals">Referrals</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('phase').value === 'undefined' && 
                                                createCompanyForm.get('phase').touched">
                                                    Please Select Company Phase
                                                </div>
                                                <label class="label-floated">Phase</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>EST Turnover</label>
                                                <input [ngClass]="{'is-invalid': createCompanyForm.get('turnover').errors &&
                                                 createCompanyForm.get('turnover').touched}" class="form-control"
                                                    type="number" formControlName="turnover">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('turnover').hasError('required') && 
                                                createCompanyForm.get('turnover').touched">
                                                    Please Enter Est.Turnover
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Years in Business</label>
                                                <input [ngClass]="{'is-invalid': createCompanyForm.get('yearInBusiness').errors &&
                                                createCompanyForm.get('yearInBusiness').touched}" class="form-control"
                                                    type="number" formControlName="yearInBusiness">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('yearInBusiness').hasError('required') && 
                                                createCompanyForm.get('yearInBusiness').touched">
                                                    Please Enter Years in Business
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Web URL</label>
                                                <input [ngClass]="{'is-invalid': createCompanyForm.get('webUrl').errors &&
                                                createCompanyForm.get('webUrl').touched}" class="form-control"
                                                    type="url" formControlName="webUrl">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('webUrl').hasError('required') && 
                                                createCompanyForm.get('webUrl').touched">
                                                    Please Enter Website Url
                                                </div>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('webUrl').hasError('pattern') && 
                                                createCompanyForm.get('webUrl').touched">
                                                    Not a Valid Website Url
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Telephone</label>
                                                <input [ngClass]="{'is-invalid': createCompanyForm.get('telephone').errors &&
                                                createCompanyForm.get('telephone').touched}" class="form-control"
                                                    type="tel" formControlName="telephone">

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('telephone').hasError('required') && 
                                                createCompanyForm.get('telephone').touched">
                                                    Please Enter Telephone
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (createCompanyForm.get('industry').errors &&
                                                createCompanyForm.get('industry').touched) ||
                                            ( createCompanyForm.get('industry').value === 'undefined' &&
                                            (createCompanyForm.get('industry').touched))}" class="form-control"
                                                    formControlName="industry">
                                                    <option [value]="undefined" selected>Choose industry...</option>
                                                    <option *ngFor="let industry of industries" value="industry.value">
                                                        {{industry.value}}</option>
                                                </select>

                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('industry').value === 'undefined' && 
                                                createCompanyForm.get('industry').touched">
                                                    Please Select Industry
                                                </div>
                                                <label class="label-floated">Industry</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (createCompanyForm.get('businessType').errors &&
                                                createCompanyForm.get('businessType').touched) ||
                                                ( createCompanyForm.get('businessType').value === 'undefined' &&
                                                (createCompanyForm.get('businessType').touched))}" class="form-control"
                                                    formControlName="businessType">
                                                    <option [value]="undefined" selected>Select Business Type</option>
                                                    <option value="Sole Proprietor">Sole Proprietor</option>
                                                    <option value="Private Company – (PTY) Ltd">Private Company – (PTY)
                                                        Ltd</option>
                                                    <option value="Personal Liability Company – Inc">Personal Liability
                                                        Company – Inc</option>
                                                    <option value="Public Companies (Ltd.)">Public Companies (Ltd.)
                                                    </option>
                                                    <option value="State Owned Companies – SOC">State Owned Companies –
                                                        SOC</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('businessType').value === 'undefined' && 
                                                createCompanyForm.get('businessType').touched">
                                                    Please Select Business Type
                                                </div>
                                                <label class="label-floated">Business Type</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                 (createCompanyForm.get('stage').errors &&
                                                 createCompanyForm.get('stage').touched) ||
                                                 ( createCompanyForm.get('stage').value === 'undefined' &&
                                                 (createCompanyForm.get('stage').touched))}" class="form-control"
                                                    formControlName="stage">
                                                    <option [value]="undefined" selected>Select Company Stage</option>
                                                    <option value="Launch/Startup">Launch/Startup</option>
                                                    <option value="Growth">Growth</option>
                                                    <option value="Stake-out">Stake-out</option>
                                                    <option value="Maturity">Maturity</option>
                                                    <option value="Decline">Decline</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="createCompanyForm.get('stage').value === 'undefined' && 
                                                createCompanyForm.get('stage').touched">
                                                    Please Select Company Stage
                                                </div>
                                                <label class="label-floated">Company Stage</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (createCompanyForm.get('beeStatus').errors &&
                                                createCompanyForm.get('beeStatus').touched) ||
                                                ( createCompanyForm.get('beeStatus').value === 'undefined' &&
                                                (createCompanyForm.get('beeStatus').touched))}" class="form-control"
                                                    formControlName="beeStatus">
                                                    <option [value]="undefined" selected>Select Bee Status...</option>
                                                    <option *ngFor="let status of beeStatuses" [value]="status.value">
                                                        {{status.value}}</option>
                                                    < </select> <div class="invalid-feedback" *ngIf="createCompanyForm.get('beeStatus').value === 'undefined' && 
                                                createCompanyForm.get('beeStatus').touched">
                                                        Please Select Bee Status
                                            </div>
                                            <label class="label-floated">Bee Status</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="contact-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input [ngClass]="{'is-invalid':
                                                createCompanyForm.get('address').errors &&
                                                createCompanyForm.get('address').touched}" class="form-control"
                                                type="text" formControlName="address">
                                            <div class="invalid-feedback" *ngIf="createCompanyForm.get('address').hasError('required') && 
                                                createCompanyForm.get('address').touched">
                                                Please Enter Address
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <div class="form-group">
                                            <select [ngClass]="{'is-invalid':
                                                     (createCompanyForm.get('province').errors &&
                                                     createCompanyForm.get('province').touched) ||
                                                     ( createCompanyForm.get('province').value === 'undefined' &&
                                                     (createCompanyForm.get('province').touched))}"
                                                class="form-control" formControlName="province">
                                                <option [value]="undefined" selected>Select Province</option>
                                                <option *ngFor="let province of provinces" [value]="province.value">
                                                    {{province.value}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="createCompanyForm.get('province').value === 'undefined' && 
                                                createCompanyForm.get('province').touched">
                                                Please Select a Province
                                            </div>
                                            <label class="label-floated">Province</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select [ngClass]="{'is-invalid':
                                                     (createCompanyForm.get('source').errors &&
                                                     createCompanyForm.get('source').touched) ||
                                                     ( createCompanyForm.get('source').value === 'undefined' &&
                                                     (createCompanyForm.get('source').touched))}" class="form-control"
                                                formControlName="source">
                                                <option [value]="undefined" selected>Please select a Source
                                                </option>
                                                <option value="Online Sources">Online Sources</option>
                                                <option value="Website">Website</option>
                                                <option value="Blogging">Blogging</option>
                                                <option value="Premium Content"> Premium Content</option>
                                                <option value="Organic Search"> Organic Search</option>
                                                <option value="Email Marketing"> Email Marketing</option>
                                                <option value="Organic Search"> Organic Search</option>
                                                <option value="Digital Advertising">Digital Advertising</option>
                                                <option value="Media Coverage"> Media Coverage</option>
                                                <option value="Offline Sources"> <b>Offline Sources</b></option>
                                                <option value="Direct Marketing"> Direct Marketing</option>
                                                <option value="Traditional Advertising"> Traditional Advertising
                                                </option>
                                                <option value="Affiliate / Partner Programs"> Affiliate /
                                                    Partner Programs</option>
                                                <option value="Events / Shows">Events / Shows</option>
                                                <option value="Inbound Phone Calls"> Inbound Phone Calls
                                                </option>
                                                <option value="Outbound Sales">Outbound Sales</option>
                                                <option value="Referrals">Referrals</option>
                                                <option value="Speaking Engagements"> Speaking Engagements
                                                </option>
                                                <option value="Traditional / Offline Networking">Traditional /
                                                    Offline Networking</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="createCompanyForm.get('source').value === 'undefined' && 
                                                createCompanyForm.get('source').touched">
                                                Please Select a Source
                                            </div>
                                            <label class="label-floated">Source</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select [ngClass]="{'is-invalid':
                                                     (createCompanyForm.get('city').errors &&
                                                     createCompanyForm.get('city').touched) ||
                                                     ( createCompanyForm.get('city').value === 'undefined' &&
                                                     (createCompanyForm.get('city').touched))}" class="form-control"
                                                formControlName="city">
                                                <option [value]="undefined" selected>Select City</option>
                                                <option *ngFor="let city of cities" [value]="city.value">{{city.value}}
                                                </option>

                                            </select>
                                            <div class="invalid-feedback" *ngIf="createCompanyForm.get('city').value === 'undefined' && 
                                                createCompanyForm.get('city').touched">
                                                Please Select City
                                            </div>
                                            <label class="label-floated">City</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input [ngClass]="{'is-invalid': createCompanyForm.get('postalCode').errors &&
                                                createCompanyForm.get('postalCode').touched}" class="form-control"
                                                type="text" formControlName="postalCode">

                                            <div class="invalid-feedback" *ngIf="createCompanyForm.get('postalCode').hasError('required') && 
                                                createCompanyForm.get('postalCode').touched">
                                                Postal Code is Required
                                            </div>
                                            <label>Postal Code</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input readonly type="text" class="form-control" formControlName="country">
                                            <label class="label-floated">Country</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Special Events</label>
                                            <input class="form-control" type="text" formControlName="specialEvents">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-floated">Facebook</label>
                                            <input class="form-control" type="text" formControlName="facebook"
                                                placeholder="https://www.facebook.com/">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-floated">LinkedIn</label>
                                            <input class="form-control" type="text" formControlName="linkedIn"
                                                placeholder="https://www.linkedin.com/">
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-floated">GooglePlus</label>
                                            <input class="form-control" type="text" formControlName="googlePlus">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-floated">Instagram</label>
                                            <input class="form-control" type="text" formControlName="instagram"
                                                placeholder="https://www.instagram.com/">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-floated">Twitter</label>
                                            <input class="form-control" type="text" formControlName="twitter"
                                                placeholder="https://twitter.com/">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="notes_tasks">
                                <div class="text-center">
                                    <span class="text-center">
                                        <i class="text-primary fa fa-hourglass-o fa-5x"></i>
                                    </span>
                                    <h3 class="text-primary">Coming Soon</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
            <button type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
        </div>
        </form>
    </div>
</div>
</div>
