<div class="card" [@routerTransition] style="margin-bottom:-25px">
    <div #cardBody class="body">
        <div #tenantChangeModal class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url(../assets/images/tenant-login.jpg)" data-overlay="5">

            <div class="card card-round card-shadowed px-50 py-30 w-600px mb-0" style="max-width: 100%">
                <h3 class="text-center">Log In To Your Saleshack.io Account</h3>

                <hr class="h-10px">
                <h6 class="text-center">Please Enter Your Saleshack.io Domain Name</h6>
                <form [formGroup]="changeTenantForm" novalidate (ngSubmit)="save()">
                    <div class="form-group form-type-material">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="domainname"
                                   [ngClass]="{'is-invalid': changeTenantForm.get('tenancyName').errors &&
                                   changeTenantForm.get('tenancyName').touched}"
                                   #tenancyNameInput formControlName="tenancyName">

                            <span class="input-group-addon">.saleshack.io</span>
                            <br>
                        </div>

                    </div>

                    <button [disabled]="!changeTenantForm.valid" class="btn btn-bold btn-block btn-primary" type="submit">Proceed</button>
                </form>
                <p class="text-center text-muted fs-13 mt-30">
                    <a class="text-purple fw-500" [routerLink]="['../register']">Forgot Your Domain Name?</a>
                    <span class="text-purple fw-800"> Or </span>
                    <a class="text-purple text-uppercase fw-800" [routerLink]="['../select-edition']">Register</a>
                </p>
            </div>

        </div>
    </div>
</div>
