<div class="card" [@routerTransition]>
    <div #cardBody class="body">
        <div class="row">

        </div>

        <div #tenantChangeModal class="mh-100 row align-items-center">

            <div class="col-4">

            </div>
            <hr />
            <div class="col-4 text-center">
                <!-- it needs fixing -->
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                
                    <div class="border border-primary col-12 z-depth-5">
                        <h2>Log In To Your Saleshack.io Account</h2>

                        <hr class="w-20px">
                        <h6>Please Enter Your Saleshack.io Domain Name</h6>
                        <form #changeTenantForm="ngForm" novalidate (ngSubmit)="save()">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="domainname" [ngClass]="{'edited':tenancyName}" name="TenancyName" #tenancyNameInput [(ngModel)]="tenancyName" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">.saleshack.io</span>
                                    <br>

                                </div>

                            </div>

                            <button class="btn btn-bold btn-block btn-primary" type="submit">Proceed</button>
                        </form>
                        <p class="text-center text-muted fs-13 mt-20">
                            <a class="text-primary fw-500" [routerLink]="['../register']">Forgot Your Domain Name?</a>
                        </p>
                    </div>
                
            </div>

            <div class="col-4">

            </div>

        </div>


    </div>
</div>
