<div bsModal #editCompanyModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editCompanyForm" id="frm_edit_company" novalidate (ngSubmit)="save()">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span>{{l("Edit Company")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body form-type-material">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#company-info">Company
                                        Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#contact-info">Contact Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#notes_tasks">Notes & Tasks</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show" id="company-info">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Company Name</label>
                                                <input #nameInput [ngClass]="{'is-invalid':
                                                 editCompanyForm.get('name').errors &&
                                                 editCompanyForm.get('name').touched}" type="text" class="form-control"
                                                    formControlName="name">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('name').hasError('required') && 
                                                editCompanyForm.get('name').touched">
                                                    Please Enter Company Name
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Email Address</label>
                                                <input [ngClass]="{'is-invalid':
                                                 editCompanyForm.get('email').errors &&
                                                 editCompanyForm.get('email').touched}" class="form-control"
                                                    type="email" formControlName="email">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('email').hasError('required') && 
                                                editCompanyForm.get('email').touched">
                                                    Email Address is Required
                                                </div>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('email').hasError('email') && 
                                                editCompanyForm.get('email').touched">
                                                    Invalid Email Address
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select formControlName="size" [ngClass]="{'is-invalid':
                                                (editCompanyForm.get('size').errors &&
                                                editCompanyForm.get('size').touched) ||
                                            ( editCompanyForm.get('size').value === 'undefined'
                                            ||editCompanyForm.get('size').value === null &&
                                            (editCompanyForm.get('size').touched))}" class="form-control">
                                                    <option [value]="undefined || null">Select Company Size</option>
                                                    <option *ngFor="let size of companySizes" [value]="size.value">
                                                        {{size.value}}</option>

                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('size').value === 'undefined'
                                                    || editCompanyForm.get('size').value === null &&
                                                editCompanyForm.get('size').touched">
                                                    Please Select Company Size
                                                </div>
                                                <label class="label-floated">Company Size</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select formControlName="phase" [ngClass]="{'is-invalid':
                                                 (editCompanyForm.get('phase').errors &&
                                                 editCompanyForm.get('phase').touched) ||
                                                 ( editCompanyForm.get('phase').value === 'undefined' &&
                                                 (editCompanyForm.get('phase').touched))}" class="form-control">
                                                    <option [ngValue]="undefined || null" selected>Select Company Phase
                                                    </option>
                                                    <option value="Awareness">Awareness</option>
                                                    <option value="Interest">Interest</option>
                                                    <option value="Decision">Decision</option>
                                                    <option value="Closed">Closed</option>
                                                    <option value="Maintenance">Maintenance</option>
                                                    <option value="Up-sell">Up-sell</option>
                                                    <option value="Un-Bundle/Next-Sell">Un-Bundle/Next-Sell</option>
                                                    <option value="Cross-Sell">Cross-Selln</option>
                                                    <option value="Referrals">Referrals</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('phase').value === 'undefined' ||
                                                    editCompanyForm.get('phase').value === null &&
                                                editCompanyForm.get('phase').touched">
                                                    Please Select Company Phase
                                                </div>
                                                <label class="label-floated">Phase</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">EST Turnover</label>
                                                <input [ngClass]="{'is-invalid': editCompanyForm.get('turnover').errors &&
                                                 editCompanyForm.get('turnover').touched}" class="form-control"
                                                    type="number" formControlName="turnover">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('turnover').hasError('required') && 
                                                editCompanyForm.get('turnover').touched">
                                                    Please Enter Est.Turnover
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Years in Business</label>
                                                <input [ngClass]="{'is-invalid': editCompanyForm.get('yearInBusiness').errors &&
                                                editCompanyForm.get('yearInBusiness').touched}" class="form-control"
                                                    type="number" formControlName="yearInBusiness">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('yearInBusiness').hasError('required') && 
                                                editCompanyForm.get('yearInBusiness').touched">
                                                    Please Enter Years in Business
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Web URL</label>
                                                <input [ngClass]="{'is-invalid': editCompanyForm.get('webUrl').errors &&
                                                editCompanyForm.get('webUrl').touched}" class="form-control" type="url"
                                                    formControlName="webUrl">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('webUrl').hasError('required') && 
                                                editCompanyForm.get('webUrl').touched">
                                                    Please Enter Website Url
                                                </div>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('webUrl').hasError('pattern') && 
                                                editCompanyForm.get('webUrl').touched">
                                                    Not a Valid Website Url
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Telephone</label>
                                                <input [ngClass]="{'is-invalid': editCompanyForm.get('telephone').errors &&
                                                editCompanyForm.get('telephone').touched}" class="form-control"
                                                    type="tel" formControlName="telephone">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('telephone').hasError('required') && 
                                                editCompanyForm.get('telephone').touched">
                                                    Please Enter Telephone
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (editCompanyForm.get('industry').errors &&
                                                editCompanyForm.get('industry').touched) ||
                                            ( editCompanyForm.get('industry').value === 'undefined' &&
                                            (editCompanyForm.get('industry').touched))}" class="form-control"
                                                    formControlName="industry">
                                                    <option [value]="undefined">Choose industry...</option>
                                                    <option *ngFor="let industry of industries" value="industry.value">
                                                        {{industry.value}}</option>
                                                </select>

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('industry').value === 'undefined' ||
                                                    editCompanyForm.get('industry').value === null &&
                                                editCompanyForm.get('industry').touched">
                                                    Please Select Industry
                                                </div>
                                                <label class="label-floated">Industry</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (editCompanyForm.get('businessType').errors &&
                                                editCompanyForm.get('businessType').touched) ||
                                                ( editCompanyForm.get('businessType').value === 'undefined' &&
                                                (editCompanyForm.get('businessType').touched))}" class="form-control"
                                                    formControlName="businessType">
                                                    <option [value]="undefined || null" selected>Select Business Type
                                                    </option>
                                                    <option value="Sole Proprietor">Sole Proprietor</option>
                                                    <option value="Private Company – (PTY) Ltd">Private Company – (PTY)
                                                        Ltd</option>
                                                    <option value="Personal Liability Company – Inc">Personal Liability
                                                        Company – Inc</option>
                                                    <option value="Public Companies (Ltd.)">Public Companies (Ltd.)
                                                    </option>
                                                    <option value="State Owned Companies – SOC">State Owned Companies –
                                                        SOC</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('businessType').value === 'undefined' ||
                                                 editCompanyForm.get('businessType').value === null && 
                                                editCompanyForm.get('businessType').touched">
                                                    Please Select Business Type
                                                </div>
                                                <label class="label-floated">Business Type</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                 (editCompanyForm.get('stage').errors &&
                                                 editCompanyForm.get('stage').touched) ||
                                                 ( editCompanyForm.get('stage').value === 'undefined' &&
                                                 (editCompanyForm.get('stage').touched))}" class="form-control"
                                                    formControlName="stage">
                                                    <option [value]="undefined || null" selected>Select Company Stage
                                                    </option>
                                                    <option value="Launch/Startup">Launch/Startup</option>
                                                    <option value="Growth">Growth</option>
                                                    <option value="Stake-out">Stake-out</option>
                                                    <option value="Maturity">Maturity</option>
                                                    <option value="Decline">Decline</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('stage').value === 'undefined' ||
                                                 editCompanyForm.get('stage').value === null&&
                                                editCompanyForm.get('stage').touched">
                                                    Please Select Company Stage
                                                </div>
                                                <label class="label-floated">Company Stage</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                (editCompanyForm.get('beeStatus').errors &&
                                                editCompanyForm.get('beeStatus').touched) ||
                                                ( editCompanyForm.get('beeStatus').value === 'undefined' &&
                                                (editCompanyForm.get('beeStatus').touched))}" class="form-control"
                                                    formControlName="beeStatus">
                                                    <option [value]="undefined || null" selected>Select Bee Status...
                                                    </option>
                                                    <option *ngFor="let status of beeStatuses" [value]="status.value">
                                                        {{status.value}}</option>

                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('beeStatus').value === 'undefined' ||
                                                 editCompanyForm.get('beeStatus').value === null && 
                                                editCompanyForm.get('beeStatus').touched">
                                                    Please Select Bee Status
                                                </div>
                                                <label class="label-floated">Bee Status</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="contact-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Address</label>
                                                <input [ngClass]="{'is-invalid':
                                                editCompanyForm.get('address').errors &&
                                                editCompanyForm.get('address').touched}" class="form-control"
                                                    type="text" formControlName="address">
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('address').hasError('required') && 
                                                editCompanyForm.get('address').touched">
                                                    Please Enter Address
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                     (editCompanyForm.get('province').errors &&
                                                     editCompanyForm.get('province').touched) ||
                                                     ( editCompanyForm.get('province').value === 'undefined' &&
                                                     (editCompanyForm.get('province').touched))}" class="form-control"
                                                    formControlName="province">
                                                    <option [value]="undefined || null" selected>Select Province
                                                    </option>
                                                    <option *ngFor="let province of provinces" [value]="province.value">
                                                        {{province.value}}</option>

                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('province').value === 'undefined' ||
                                                 editCompanyForm.get('province').value === null && 
                                                editCompanyForm.get('province').touched">
                                                    Please Select a Province
                                                </div>
                                                <label class="label-floated">Province</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                     (editCompanyForm.get('source').errors &&
                                                     editCompanyForm.get('source').touched) ||
                                                     ( editCompanyForm.get('source').value === 'undefined' &&
                                                     (editCompanyForm.get('source').touched))}" class="form-control"
                                                    formControlName="source">
                                                    <option [value]="undefined || null" selected>Please select a Source
                                                    </option>
                                                    <option value="Online Sources">Online Sources</option>
                                                    <option value="Website">Website</option>
                                                    <option value="Blogging">Blogging</option>
                                                    <option value="Premium Content"> Premium Content</option>
                                                    <option value="Organic Search"> Organic Search</option>
                                                    <option value="Email Marketing"> Email Marketing</option>
                                                    <option value="Organic Search"> Organic Search</option>
                                                    <option value="Digital Advertising">Digital Advertising</option>
                                                    <option value="Media Coverage"> Media Coverage</option>
                                                    <option value="Offline Sources"> <b>Offline Sources</b></option>
                                                    <option value="Direct Marketing"> Direct Marketing</option>
                                                    <option value="Traditional Advertising"> Traditional Advertising
                                                    </option>
                                                    <option value="Affiliate / Partner Programs"> Affiliate /
                                                        Partner Programs</option>
                                                    <option value="Events / Shows">Events / Shows</option>
                                                    <option value="Inbound Phone Calls"> Inbound Phone Calls
                                                    </option>
                                                    <option value="Outbound Sales">Outbound Sales</option>
                                                    <option value="Referrals">Referrals</option>
                                                    <option value="Speaking Engagements"> Speaking Engagements
                                                    </option>
                                                    <option value="Traditional / Offline Networking">Traditional /
                                                        Offline Networking</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('source').value === 'undefined' ||
                                                 editCompanyForm.get('source').value === null && 
                                                editCompanyForm.get('source').touched">
                                                    Please Select a Source
                                                </div>
                                                <label class="label-floated">Source</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select [ngClass]="{'is-invalid':
                                                     (editCompanyForm.get('city').errors &&
                                                     editCompanyForm.get('city').touched) ||
                                                     ( editCompanyForm.get('city').value === 'undefined' &&
                                                     (editCompanyForm.get('city').touched))}" class="form-control"
                                                    formControlName="city">
                                                    <option [value]="undefined || null">Select City</option>
                                                    <option *ngFor="let city of cities" [value]="city.value">
                                                        {{city.value}}</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('city').value === 'undefined' || 
                                                editCompanyForm.get('city').value === null  && 
                                                editCompanyForm.get('city').touched">
                                                    Please Select City
                                                </div>
                                                <label class="label-floated">City</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input [ngClass]="{'is-invalid': editCompanyForm.get('postalCode').errors &&
                                                editCompanyForm.get('postalCode').touched}" class="form-control"
                                                    type="text" formControlName="postalCode">

                                                <div class="invalid-feedback" *ngIf="editCompanyForm.get('postalCode').hasError('required') && 
                                                editCompanyForm.get('postalCode').touched">
                                                    Postal Code is Required
                                                </div>
                                                <label class="label-floated">Postal Code</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input readonly type="text" class="form-control"
                                                    formControlName="country">
                                                <label class="label-floated">Country</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Special Events</label>
                                                <input class="form-control" type="text" formControlName="specialEvents">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Facebook</label>
                                                <input class="form-control" type="text" formControlName="facebook">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">LinkedIn</label>
                                                <input class="form-control" type="text" formControlName="linkedIn">
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">GooglePlus</label>
                                                <input class="form-control" type="text" formControlName="googlePlus">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Instagram</label>
                                                <input class="form-control" type="text" formControlName="instagram">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Twitter</label>
                                                <input class="form-control" type="text" formControlName="twitter">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="notes_tasks">
                                    <p>Notes and Tasks will show here</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
