<div style="margin-top:50px">
    <!--<canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"></canvas>-->

    <canvas  style="padding-top:20px; color:#fff;" height="200" id="tam"></canvas>
    <canvas style="margin-top:-100%" id="sam"></canvas>
    <canvas style="margin-top:-100%" id="som"></canvas>

</div>
