@import "~angular-vertical-timeline/dist/vertical-timeline.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.sidebar .menu:not(.menu-bordery) > .menu-item.active > .menu-link {
    background-color: #511261 !important;
}

.ngx-pagination .current {
    background: #511261 !important;
}

.ng2-tag-input.ng2-tag-input--focused {
    border-bottom: 2px solid #511261 !important;
}

@media (min-width: 992px) {
    .modal-xlg {
        max-width: 1000px !important;
    }
}

.even-class {
    background-color: #511261;
    color: #fff;
}

.odd-class {
    background-color: #242A33;
    color: #fff;
}

.table-header {
    font-size: 14px !important;
    font-weight: 700 !important;
}

@media (min-width: 992px) {
    .modal-md-right {
        width: 600px !important;
    }
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator {
    background-color: #511261 !important;
}
.btn:disabled {
    pointer-events: none;
}
.form-type-material .form-group label:not(.custom-control):not(.switch) {
    color: #511261 !important;
}
.disabled-bg{
    background-color: #3F4A58;
}