<div bsModal #viewContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #viewContactModal="ngForm" id="frm_create_contact" novalidate>
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span>{{contact.name}} {{contact.surname}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-type-material">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#contact-info">Contact Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#social-links">Social Media Links</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#associations">Related Company</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#connections">Connections</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#notes_tasks">Notes & Tasks</a>
                                    </li>


                                </ul>

                                <!-- Tab Content-->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active show" id="contact-info">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Name</label>
                                                    <input #nameInput class="form-control" type="text" name="name" [(ngModel)]="contact.name" readonly>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Last Name</label>
                                                    <input class="form-control" type="text" name="surname" [(ngModel)]="contact.surname" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label-floated">Industry</label>
                                                    <input name="industry" [(ngModel)]="contact.industry" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Address</label>
                                                    <input class="form-control" type="text" placeholder="Address" name="address" [(ngModel)]="contact.address" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Province</label>
                                                    <input name="province" [(ngModel)]="contact.province" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Source</label>
                                                    <input name="source" [(ngModel)]="contact.source" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Email</label>
                                                    <input class="form-control" type="email" name="email" [(ngModel)]="contact.email" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Cellphone</label>
                                                    <input class="form-control" type="tel" name="cellphone" [(ngModel)]="contact.cellphone" readonly>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">City</label>
                                                    <input type="text" name="city" [(ngModel)]="contact.city" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Job Title</label>
                                                    <input class="form-control" type="text" name="jobTitle" [(ngModel)]="contact.jobTitle" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Department</label>
                                                    <input [(ngModel)]="contact.department" type="text" class="form-control" name="department" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="social-links">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Special Events</label>
                                                    <input class="form-control" type="text" name="specialEvents" [(ngModel)]="contact.specialEvents" readonly>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Facebook</label>
                                                    <input class="form-control" type="text" name="facebook" [(ngModel)]="contact.facebook" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">LinkedIn</label>
                                                    <input class="form-control" type="text" name="linkedIn" [(ngModel)]="contact.linkedIn" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">GooglePlus</label>
                                                    <input class="form-control" type="text" name="googlePlus" [(ngModel)]="contact.googlePlus" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Instagram</label>
                                                    <input class="form-control" type="text" name="instagram" [(ngModel)]="contact.instagram" readonly>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label-floated">Twitter</label>
                                                    <input class="form-control" type="text" name="twitter" [(ngModel)]="contact.twitter" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="associations">
                                        <small>(this person works for)</small>
                                        <input type="text" [(ngModel)]="companyName" name="companyId" class="form-control" placeholder="Company" readonly>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="connections">
                                        <div class="text-center">
                                            <span class="text-center">
                                                <i class="text-primary fa fa-hourglass-o fa-5x"></i>
                                            </span>
                                            <h3 class="text-primary">Coming Soon</h3>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="notes_tasks">
                                        <div class="text-center">
                                            <span class="text-center">
                                                <i class="text-primary fa fa-hourglass-o fa-5x"></i>
                                            </span>
                                            <h3 class="text-primary">Coming Soon</h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
