<div class="card" [@routerTransition]>
    <div #cardBody class="body">
        <form class="form-type-material" #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <h4 class="text-center">{{l("Sign Up")}}</h4>
            <!--<div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" autoFocus type="text" [(ngModel)]="model.name" name="Name" required maxlength="32" />
                    <label class="form-label">{{l('Name')}}</label>
                </div>
            </div>-->
            <!--<div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="text" [(ngModel)]="model.surname" name="Surname" required maxlength="32" />
                    <label class="form-label">{{l('Surname')}}</label>
                </div>
            </div>-->
            <!--<div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="email" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                    <label class="form-label">{{l('EmailAddress')}}</label>
                </div>
            </div>-->
            <!--<div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="text" autocomplete="off" [(ngModel)]="model.userName" name="UserName" required maxlength="32" />
                    <label class="form-label">{{l('UserName')}}</label>
                </div>
            </div>-->
            <!--<div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="password" [(ngModel)]="model.password" name="Password" required maxlength="32" />
                    <label class="form-label">{{l('Password')}}</label>
                </div>
            </div>-->
            <!--<div class="form-actions">
                <button [disabled]="saving" [routerLink]="['../login']" type="button" class="btn btn-default">{{l("Back")}}</button>
                <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">{{l("Submit")}}</button>
            </div>-->


            <div class="row no-gutters min-h-fullscreen bg-white">
                <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url(../assets/images/Signup-resize.jpg)" data-overlay="5">
                    <div class="row h-100 pl-50">
                        <div class="col-md-10 col-lg-8 align-self-end">
                            <img src="../assets/img/SalesHack-Logo.png" alt="...">
                            <br><br><br>
                            <h4 class="text-white">COMING SOON</h4>
                            <p class="text-white">Built to help you close more deals. Saleshack.io is a B2B “off the shelf”,
                            cloud based, salesforce automation sales tool, to help you accelerate and automate your sales process so as to increase revenue growth.</p>
                            <br><br>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
                    <div class="px-80 py-30">
                        <h4>Start your 30 days free trial</h4>
                        <p>
                            <small>All fields are required.</small>
                        </p>
                        <br>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstname" [(ngModel)]="model.name" name="Name" required maxlength="32">
                                    <label for="username">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <!--form-inline-->
                                    <input type="text" class="form-control" id="lastname" [(ngModel)]="model.surname" name="Surname" required maxlength="32">
                                    <label for="username">Last Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="username">
                            <label for="username">Company Name</label>
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="companyname or domainname" id="domainname" aria-describedby="basic-addon2" [(ngModel)]="model.userName" name="UserName" required maxlength="32">
                            <!-- <label for="domainname">companyname or domainname</label> -->
                            <span class="input-group-addon" id="basic-addon2">.saleshack.io</span>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="email" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                            <label for="email">Email Address</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cellphonenumber">
                            <label for="email">Cellphone Number</label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="Password" required maxlength="32">
                            <label for="password">Password</label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password-conf">
                            <label for="password-conf">Password (confirm)</label>
                        </div>

                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">
                                    I agree to all
                                    <a class="text-primary" href="#">terms</a>
                                </span>
                            </label>
                        </div>

                        <br>
                        <button class="btn btn-bold btn-block btn-primary" type="submit" [disabled]="!registerForm.form.valid">{{l("Register")}}</button>


                        <div class="divider">Or Sign In With</div>
                        <div class="text-center">
                            <a class="btn btn-square btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-square btn-google" href="#"><i class="fa fa-google"></i></a>
                            <a class="btn btn-square btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </div>

                        <hr class="w-30px">

                        <p class="text-center text-muted fs-13 mt-20">Already have an account?<a class="text-primary fw-500" [routerLink]="['../login']">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
