
<!--<div class="card" [@routerTransition]>
    <h4 class="card-title">Pipeline</h4>
    <div class="card-body">

    </div>

</div>-->

<div class="row no-margin h-fullscreen" style="padding-top: 10%" [@routerTransition]>
    <div class="col-12">
        <div class="card card-transparent center-h text-center">
            <h1 class="text-secondary lh-1" style="font-size: 200px"><i class="fa fa-check-square-o"></i></h1>
            <hr class="w-30px">
            <h3 class="text-uppercase">Account Created Successful !</h3>
            <p class="lead">Your account has been successfully created.<br>Please login to your email to confirm your account.</p>
        </div>
    </div>
</div>
