<div class="card" [@routerTransition]>
    <div #cardBody class="body" style="margin-bottom: -50px">
        <form [formGroup]="registerTenantForm" novalidate (ngSubmit)="save()">
            <!--<div class="form-group form-float">
            <div class="form-line">
                <input materialInput class="form-control" type="text" name="TenancyName" [(ngModel)]="tenant.tenancyName" required maxlength="64" minlength="2">
                <label class="form-label">{{l("TenancyName")}}</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input materialInput type="text" name="Name" class="form-control" [(ngModel)]="tenant.name" required maxlength="128">
                <label class="form-label">{{l("Name")}}</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input materialInput type="email" name="AdminEmailAddress" class="form-control" [(ngModel)]="tenant.adminEmailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                <label class="form-label">{{l("AdminEmailAddress")}}</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input materialInput type="password" name="Password" class="form-control" [(ngModel)]="tenant.password" required>
                <label class="form-label">{{l("Password")}}</label>
            </div>
        </div>

        <div class="form-actions">
            <button [disabled]="saving" [routerLink]="['../login']" type="button" class="btn btn-default">{{l("Back")}}</button>
            <button [disabled]="!registerTenantForm.form.valid || saving" type="submit" class="btn bg-pink waves-effect" >{{l("Submit")}}</button>
        </div>-->

            <div class="row no-gutters min-h-fullscreen bg-white">
                <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img"
                    style="background-image: url(../assets/images/Signup-resize.jpg)">
                    <div class="row h-100 pl-50">
                        <div class="col-md-10 col-lg-8 align-self-end">
                            <img src="../assets/img/SalesHack-Logo.png" alt="...">
                            <br><br><br>

                            <p class="text-white">
                                Built to help you close more deals. Saleshack.io is a B2B “off the shelf”,
                                cloud based, salesforce automation sales tool, to help you accelerate and automate your
                                sales process so as to increase revenue growth.
                            </p>
                            <br><br>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
                    <div class="px-80 py-30 form-type-material">
                        <h4>Start your 30 days free trial</h4>
                        <div class="hint text-center">Edition: {{registerTenantForm.get('edition').value}}</div>
                        <p>
                            <small>All fields are required.</small>
                        </p>
                        <br>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" [ngClass]="{'is-invalid': registerTenantForm.get('name').errors &&
                                    registerTenantForm.get('name').touched}" class="form-control" id="firstname"
                                        formControlName="name">
                                    <div class="invalid-feedback" *ngIf="registerTenantForm.get('name').hasError('required')
                                 && registerTenantForm.get('name').touched">
                                        Please Enter First Name
                                    </div>
                                    <label for="username">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <input type="text" [ngClass]="{'is-invalid': registerTenantForm.get('lastName').errors &&
                                    registerTenantForm.get('lastName').touched}" class="form-control" id="lastname"
                                        formControlName="lastName">
                                    <div class="invalid-feedback" *ngIf="registerTenantForm.get('lastName').hasError('required')
                                 && registerTenantForm.get('lastName').touched">
                                        Please Enter Last Name
                                    </div>
                                    <label for="username">Last Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" [ngClass]="{'is-invalid': registerTenantForm.get('companyName').errors &&
                            registerTenantForm.get('companyName').touched}" class="form-control" id="companyName"
                                formControlName="companyName">

                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('companyName').hasError('required')
                                 && registerTenantForm.get('companyName').touched">
                                Please Company Name
                            </div>
                            <label for="username">Company Name</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" [ngClass]="{'is-invalid': registerTenantForm.get('tenancyName').errors &&
                                registerTenantForm.get('tenancyName').touched}" class="form-control"
                                    placeholder="companyname or domainname" formControlName="tenancyName">
                                <span class="input-group-addon" id="basic-addon2">.saleshack.io</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" [ngClass]="{'is-invalid': registerTenantForm.get('adminEmailAddress').errors &&
                            registerTenantForm.get('adminEmailAddress').touched}" class="form-control"
                                formControlName="adminEmailAddress" name="adminEmailAddress">
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('adminEmailAddress').hasError('required')
                                 && registerTenantForm.get('adminEmailAddress').touched">
                                Please Email Address
                            </div>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('adminEmailAddress').hasError('email')
                                 && registerTenantForm.get('adminEmailAddress').touched">
                                Please Enter a Valid Email
                            </div>
                            <label for="email">Email Address</label>
                        </div>


                        <div class="form-group">
                            <input type="tel" [ngClass]="{'is-invalid': registerTenantForm.get('cellphone').errors &&
                             registerTenantForm.get('cellphone').touched}" class="form-control"
                                formControlName="cellphone">
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('cellphone').hasError('required')
                                 && registerTenantForm.get('cellphone').touched">
                                Please Enter Cellphone
                            </div>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('cellphone').hasError('maxlength')
                                 && registerTenantForm.get('cellphone').touched">
                                Maximum Charaters must be 10
                            </div>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('cellphone').hasError('minlength')
                                 && registerTenantForm.get('cellphone').touched">
                                Cellphone Number must be 10 characters
                            </div>
                            <label>Cellphone Number</label>
                        </div>

                        <div class="form-group">
                            <input type="password" [ngClass]="{'is-invalid': registerTenantForm.get('password').errors &&
                            registerTenantForm.get('password').touched}" class="form-control"
                                formControlName="password">
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('password').hasError('required')
                                 && registerTenantForm.get('password').touched">
                                Password is Required
                            </div>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('password').hasError('minlength')
                                 && registerTenantForm.get('password').touched">
                                Password minimum Length must be 6
                            </div>
                            <label for="password">Password</label>
                        </div>

                        <div class="form-group">
                            <input type="password" [ngClass]="{'is-invalid': (registerTenantForm.get('confirmPassword').errors &&
                            registerTenantForm.get('confirmPassword').touched) ||
                            (registerTenantForm.get('confirmPassword').touched &&
                            registerTenantForm.get('confirmPassword').hasError('mismatch'))}" class="form-control"
                                formControlName="confirmPassword">

                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('confirmPassword').hasError('required')
                                 && registerTenantForm.get('confirmPassword').touched">
                                Confirm Password is Required
                            </div>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('confirmPassword').hasError('mismatch')
                                 && registerTenantForm.get('confirmPassword').touched">
                                Passwords Do not Match
                            </div>
                            <label for="password-conf">Password (confirm)</label>
                        </div>

                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input [ngClass]="{'is-invalid': registerTenantForm.get('terms').errors && 
                            registerTenantForm.get('terms').touched} "
                                    type="checkbox" class="custom-control-input" formControlName="terms">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">
                                    I agree to all
                                    <a class="text-primary" href="#">terms</a>
                                </span>

                            </label>
                            <div class="invalid-feedback" *ngIf="registerTenantForm.get('terms').hasError('required')">
                                Please Agree to terms and conditions
                            </div>
                        </div>

                        <br>
                        <button class="btn btn-bold btn-block btn-primary" type="submit"
                            [disabled]="!registerTenantForm.valid">Register</button>
                        <hr class="w-30px">

                        <p class="text-center text-muted fs-13 mt-20">
                            Already have an account?
                            <a class="text-primary fw-500" [routerLink]="['../login']">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
