<div class="card" [@routerTransition]>
    <div #cardBody class="body" style="margin-bottom:-50px">

        <header class="block-header pt-40" style="text-align: center">
            <div class="header-title">
                <h1 class="text text-primary fw-700">
                    Pricing Options
                    <small>Different type of pricing tables to design your pricing page.</small>
                </h1>
            </div>
        </header>
        <!--/.header -->
        <div class="main-content">
            <div class="row no-gutters">
                <div class="col-lg-4"
                    *ngFor="let editionWithFeatures of editionsSelectOutput.editionsWithFeatures;  let i = index">
                    <div [class]="i===1? 'card-shadowed card-round text-center bring-front py-80 px-60': 'card p-60
                        text-center'" [style]="i===1? 'margin-top:-20px': 'margin-top: 0px'">
                        <h4 class="text-gray text-uppercase font-weight-bold">
                            {{editionWithFeatures.edition.displayName}}</h4>
                        <br>

                        <p>A simple option but powerful to manage your business.</p>
                        <ng-container *ngFor="let feature of editionsSelectOutput.allFeatures">

                            <ng-container *ngIf="isTrueFalseFeature(feature)">
                                <i class="la la-check m--font-success"
                                    *ngIf="featureEnabledForEdition(feature,editionWithFeatures)"></i>
                                <i class="la la-times m--font-metal"
                                    *ngIf="!featureEnabledForEdition(feature,editionWithFeatures)"></i>
                            </ng-container>
                            <ng-container *ngIf="isTrueFalseFeature(feature)">{{feature.displayName}}</ng-container>


                            <ng-container *ngIf="!isTrueFalseFeature(feature)">
                                <i class="la la-check m--font-success"></i>
                            </ng-container>
                            <ng-container *ngIf="!isTrueFalseFeature(feature)">
                                {{feature.displayName}}:{{getFeatureValueForEdition(feature,editionWithFeatures)}}
                            </ng-container>

                            <br />
                        </ng-container>
                        <br>
                        <h3 class="price text-primary" *ngIf="!isFree(editionWithFeatures.edition)">
                            <sup>R</sup>{{editionWithFeatures.edition.monthlyPrice}}
                            <span>Monthly</span>
                        </h3>

                        <br>
                        <a class="btn btn-outline btn-warning btn-block btn-round "
                            (click)="upgrade(editionWithFeatures.edition, editionPaymentType.Upgrade)"
                            *ngIf="isUserLoggedIn">
                            {{l("Upgrade")}}
                        </a>
                        <a class="btn btn-success btn-block btn-outline btn-round" [routerLink]="['/account/register']"
                            [queryParams]="{editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Free}"
                            href="#" *ngIf="!isUserLoggedIn && isFree(editionWithFeatures.edition)">
                            {{l("Start")}}
                        </a>
                        <a class="btn btn-outline btn-block btn-round btn-warning" [routerLink]="['/account/register']"
                            [queryParams]="{editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Trial}"
                            href="#"
                            *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition) && editionWithFeatures.edition.trialDayCount">
                            {{l("FreeTrial")}}
                        </a>
                        <a [class]="i==1 ?'btn btn-block btn-round btn-bold '+'btn-'+getButtonColor(i):'btn btn-block btn-round btn-outline '+'btn-'+getButtonColor(i)"
                            href="#" [routerLink]="['/account/buy']" [queryParams]="{editionId: editionWithFeatures.edition.id, editionPaymentType:
                    editionPaymentType.NewRegistration, subscriptionStartType: subscriptionStartType.Paid}" href="#"
                            *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition)">Sign up</a>
                    </div>
                </div>



                <!-- <div class="col-lg-4">
                <div class="card card-shadowed card-round text-center bring-front py-80 px-60" style="margin-top:-20px">
                    <h4 class="text-purple text-uppercase">{{editionWithFeatures.edition.displayName}}</h4>
                    <br>

                    <p>Unlimited product including apps and more features.</p>
                    <p>Mon-Fri support</p>
                    <br>
                    <h3 class="price text-purple">
                        <sup>$</sup>39
                        <span>Monthly</span>
                    </h3>

                    <br>
                    <a class="btn btn-bold btn-block btn-round btn-purple" href="#">Sign up</a>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="card p-60 text-center">
                    <h4 class="text-info text-uppercase">{{editionWithFeatures.edition.displayName}}</h4>
                    <br>
                    <p>The best option for large scale companies.</p>
                    <p>24/7 support</p>
                    <br>
                    <h3 class="price text-info">
                        <sup>$</sup>89
                        <span>Monthly</span>
                    </h3>

                    <br>
                    <a class="btn btn-bold btn-block btn-round btn-info" href="#">Sign up</a>
                </div>
            </div> -->


            </div>
        </div>




    </div>
