<div bsModal #viewIdealClientModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xlg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #viewIdealClientModal="ngForm" id="frm_edit_company" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Full Company Profile")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center pt-3">
                                <div class="avatar avatar-xxl {{colorBackground}}">
                                    <span>{{getInitial(company.name)}}</span>
                                </div>
                                <h5 class="mt-3 mb-0 hover-primary"><a href="javascript:void(0)"
                                        (click)="viewContacts(company)">{{totalContacts}}
                                        <strong>{{getContactEnding()}}</strong></a></h5>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="mt-3 mb-0 hover-primary">{{company.name}}</h5>
                            <span>{{company.industry}}</span>
                            <br />
                            <i class="fa fa-fw fa-map-marker"></i>{{company.address}}
                        </div>
                        <div class="col-md-4 align-content-center">
                            <a *ngIf="company.webUrl" class="hover-secondary" href="http://{{company.webUrl}}"
                                target="_blank"><i class="fa fa-fw fa-home fa-2x text-primary"></i></a>
                            <a *ngIf="company.facebook" class="hover-secondary" href="{{company.facebook}}"
                                target="_blank"><i class="fa fa-fw fa-facebook fa-2x text-primary"></i></a>
                            <a *ngIf="company.twitter" class="hover-secondary" href="{{company.twitter}}"
                                target="_blank"><i class="fa fa-fw fa-twitter fa-2x text-primary"></i></a>
                            <a *ngIf="company.linkedIn" class="hover-secondary" href="{{company.linkedIn}}"
                                target="_blank"><i class="fa fa-fw fa-linkedin fa-2x text-primary"></i></a>
                        </div>
                    </div>
                    <div class="divider-line"></div>
                    <div class="row p-5">
                        <div class="col-md-4 text-center">
                            <h6 class="hover-primary">City</h6>
                            <span *ngIf="city" class="badge badge-pill badge-primary">
                                {{city}}
                            </span>
                            <!-- <tag-input [(ngModel)]='city' [removable]='false' [maxItems]="1" name="city"></tag-input> -->
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 class="hover-primary">Bee Status</h6>
                            <span *ngIf="beeStatus" class="badge badge-pill badge-primary">
                                {{beeStatus}}
                            </span>
                            <!-- <tag-input [(ngModel)]='beeStatus' [removable]='false' [maxItems]="1" name="beeStatus"></tag-input> -->
                        </div>
                        <div *ngIf="companySize text-center" class="col-md-4">
                            <h6 class="hover-primary">Company Size</h6>
                            <span class="badge badge-pill badge-primary">
                                {{companySize}}
                            </span>
                            <!-- <tag-input [(ngModel)]='companySize' [removable]='false' [maxItems]="1" name="companySize"></tag-input> -->
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<app-company-info #companyInfoModal></app-company-info>
