<div [@routerTransition]>
    <div class="row no-gutters min-h-fullscreen bg-white">
        <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img overlay-darker"
            style="background-image: url(../assets/images/Login.png)" data-overlay="5">

            <div class="row h-100 pl-50">
                <div class="col-md-10 col-lg-8 align-self-end">
                    <img src="../assets/img/SalesHack-Logo.png" />
                    <br><br><br>
                    <p class="text-white">
                        Built to help you close more deals. Saleshack.io is a B2B “off the shelf”,
                        cloud based, salesforce automation sales tool, to help you accelerate and automate your sales
                        process so as to increase revenue growth.
                    </p>
                    <br><br>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
            <div class="px-80 py-30">
                <h4>Password reset</h4>
                <p><small>Enter Your New Password Below</small></p>
                <br>

                <form class="form-type-material" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid': passwordResetForm.get('newPassword').errors &&
                                passwordResetForm.get('newPassword').touched }" type="password"
                            formControlName="newPassword" class="form-control">
                        <div class="invalid-feedback" *ngIf="passwordResetForm.get('newPassword').hasError('required') &&
                            passwordResetForm.get('newPassword').touched">
                            Please Enter Password
                        </div>
                        <div class="invalid-feedback" *ngIf="(passwordResetForm.get('newPassword').hasError('minlength') &&
                            passwordResetForm.get('newPassword').touched) &&
                            (!passwordResetForm.get('newPassword').hasError('required'))">
                            Password Must Be at least 6 characters
                        </div>
                        <label for="email">New Password</label>
                    </div>
                    <div class="form-group">
                        <input
                        [ngClass]="{'is-invalid': (passwordResetForm.get('confirmPassword').errors &&
                        passwordResetForm.get('confirmPassword').touched) ||
                    (passwordResetForm.get('confirmPassword').hasError('mismatch') &&
                    passwordResetForm.get('confirmPassword').touched) }"
                        type="password" 
                        formControlName="confirmPassword" 
                        name="password" class="form-control">
                        <label for="email">Confirm Password</label>
                        <div class="invalid-feedback" 
                        *ngIf="passwordResetForm.get('confirmPassword').hasError('required') &&
                            passwordResetForm.get('confirmPassword').touched">
                            Confirm Password is Required
                        </div>
                        <div class="invalid-feedback" *ngIf="(passwordResetForm.get('confirmPassword').hasError('mismatch') &&
                            passwordResetForm.get('confirmPassword').touched) &&
                            (!passwordResetForm.get('newPassword').hasError('required'))">
                            Passwords Do not Match
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>
                </form>
            </div>
        </div>
    </div>

</div>
