<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l(' Prospect / Contact Prospecting')}}</strong></h4>
    <div class="card-body form-type-material">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select name="industry" [(ngModel)]="industry" class="form-control" id="industry">
                        <option value="">Choose industry...</option>
                        <option *ngFor="let industry of industries" [value]="industry.value">{{industry.value}}</option>
                    </select>
                    <label class="label-floated" for="industry">Industry</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <select id="jobTitle" name="jobTitle" [(ngModel)]="jobTitle" class="form-control">
                        <option value="">Select One...</option>
                        <option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.value">{{jobTitle.value}}</option>
                    </select>
                    <label class="label-floated" for="jobTitle">Position/Job Title</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select name="companySize" [(ngModel)]="companySize" class="form-control" id="compSize">
                        <option value="">Select Company Size</option>
                        <option *ngFor="let size of companySizes" [value]="size.value">{{size.value}}</option>
                    </select>
                    <label class="label-floated">Company Size</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="city" [(ngModel)]="city" class="form-control" id="city">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities" [value]="city.value">{{city.value}}</option>
                    </select>
                    <label class="label-floated">City</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input placeholder="First Name" type="text" class="form-control" id="name" [(ngModel)]="firstName"
                        name="firstName" />
                    <label class="label-floated" for="name">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input placeholder="Last Name" type="text" class="form-control" id="lastName" [(ngModel)]="lastName"
                        name="lastName" />
                    <label class="label-floated" for="surname">Last Name</label>
                </div>
                <button (click)="search()" type="button" class="btn btn-primary pull-right">start search <i
                        class="fa fa-search"></i> </button>
            </div>
        </div>

        <div class="row" *ngIf="contactSearch">
            <div class="col-lg-12">
                <div class="media-list media-list-divided media-list-hover">
                    <div class="media"
                        *ngFor="let contact of contactProspects | paginate:{itemsPerPage: noOfItems, currentPage: page}; let i=index;">
                        <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}"
                            href="javascript:void(0)" (click)="viewContact(contact)">
                            <span>{{getInitial(contact.name)}}</span>
                        </a>

                        <div class="media-body">
                            <p>
                                <a class="hover-primary" href="javascript:void(0)"
                                    (click)="viewContact(contact)"><strong>{{contact.name}}
                                        {{contact.surname}}</strong></a>
                            </p>
                            <p>{{contact.industry}}</p>
                            <nav class="nav no-gutters mt-2">
                                <a class="nav-link" href="http://{{contact.facebook}}" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a class="nav-link" href="http://{{contact.twitter}}" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                                <a class="nav-link" href="http://{{contact.linkedIn}}" target="_blank"><i
                                        class="fa fa-linkedin"></i></a>
                            </nav>
                        </div>

                        <div class="media-right gap-items">
                            <a class="media-action lead" href="javascript:void(0)" (click)="viewContact(contact)"
                                data-provide="tooltip" title="Full Profile"><i class="text-primary ti-id-badge"></i></a>
                            <div class="btn-group">
                                <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                        class="text-primary ti-more-alt rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void(0);" (click)="add(contact)"><i
                                            class="text-primary fa fa-plus"></i>Add To List</a>
                                    <a class="dropdown-item" href="javascript:void(0)" (click)="viewContact(contact)"><i
                                            class="text-primary ti-id-badge ti-"></i> View Full
                                        Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="totalItems === 0">
                <div class="card">
                    <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                    <h4 class="text text-center">No Prospects Match Your Criteria</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="mt-3" *ngIf="totalItems > noOfItems">
                    <div class="pagination justify-content-center">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<app-view-contact #viewContactModal></app-view-contact>
