<div class="card-header">
    <h4 class="card-title">My Dashboard</h4>
    <h5 class="text text-primary">Average Sales Cycle: <strong class="text text-default">0</strong> days</h5>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class=" card-body">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong>Ideal Customer Suggestions</strong></h5>
            </div>

            <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">
                <div class="media media-single" *ngFor="let client of idealClients; let i = index;">
                    <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}" href="javascript:void(0)"
                        (click)="viewFullProfile(client, i)">
                        <span>{{getInitial(client.name)}}</span>
                    </a>

                    <div class="media-body">
                        <h6><a href="javascript:void(0)" (click)="viewFullProfile(client, i)">{{client.name}}</a></h6>
                        <small class="text-fader">{{client.industry}}</small>
                    </div>

                    <div class="media-right">
                        <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px"
                            href="javascript:void(0)" (click)="viewFullProfile(client, i)">Profile</a>
                    </div>
                </div>
                <div *ngIf="idealClients.length <= 0 || !idealClients">
                    <div class="text-center">
                        <span class="text-center">
                            <i class="text-primary fa fa-hourglass-o fa-5x"></i>
                        </span>
                        <h3 class="text-primary">No Suggested Prospects Yet</h3>
                        <h4 class="text text-center">Go To <a href="javascript:void(0)"
                                [routerLink]="['/app/user/customer-profile']"><strong>Customer Profile</strong></a> To
                            Select Your Target Market</h4>
                    </div>
                </div>

            </div>

            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" [routerLink]="['/app/feeds/ideal-client']">View
                    More</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong>Funnel Deal Stages</strong></h5>
            </div>
            <div class="media-list media-list-hover media-list-divided" style="height: 345px">
                <a *ngFor="let stage of stages" class="media media-single" href="#">
                    <span class="title"><strong>{{stage.name}}</strong></span>
                    <ng-template #popTemplate>{{totalDeals}} Of {{totalAmount | currency: 'R'}}</ng-template>
                    <span class="badge badge-pill badge-primary" [popover]="popTemplate"
                        (mouseenter)="getStageInfo(stage.id)" (mouseleave)=" onMouseleave()"
                        popoverTitle="{{stage.name}} Stage Info" triggers="mouseenter:mouseleave" placement="left">
                        {{stage.deals.length}}
                    </span>
                </a>
            </div>
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" [routerLink]="['/app/pipeline']">View
                    Pipeline</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong> Outreach Campaigns</strong></h5>
            </div>
            <div class="media-list media-list-hover media-list-divided align-content-center" style="height: 345px">
                <div class="mt-3 text text-center align-middle">
                    <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                    <h3 class="text-primary">No Campaigns at the Moment</h3>
                </div>
            </div>
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" [routerLink]="['/app/qualification']">Send
                    Outreach</a>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong>Activities, Task & Appointments</strong></h5>
            </div>
            <div class="card-body" style="height: 345px">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified nav-tabs-primary">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#activities">
                            Activities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tasks">
                            Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#appointments">
                            Appointments
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active show" id="activities">
                        <div class="col-12" *ngIf="activities.length===0">
                            <div class="card">
                                <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                <h4 class="text text-center">No Activity Yet</h4>
                            </div>
                        </div>
                        <div class="col-12" [style.display]="activities.length==0 ? 'none': 'block '">
                            <div class="card">
                                <ol class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20
                                    pr-20">
                                    <perfect-scrollbar [config]="{wheelSpeed:0.5}" style="max-height: 200px;">
                                        <li class="timeline-block" *ngFor="let activity of activities">
                                            <div class="timeline-point">
                                                <span class="avatar bg-primary"><i class="fa fa-newspaper-o"></i></span>
                                            </div>
                                            <div class="timeline-content">
                                                <time datetime="2018">{{activity.creationTime | date: 'short'}}</time>
                                                <p><span class="h6">{{activity.description}}</span></p>
                                            </div>
                                        </li>
                                    </perfect-scrollbar>
                                </ol>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tasks">
                        <div class="col-12" *ngIf="tasks.length===0">
                            <div class="card">
                                <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                <h4 class="text text-center">No Tasks Yet</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="media-list-body" data-provide="sortable" data-sortable-handle=".sortable-dot"
                                style="height:344px;">
                                <perfect-scrollbar [config]="{wheelSpeed:0.5}" style="max-height: 200px;">
                                    <div class="media media-single" *ngFor="let task of tasks">
                                        <label class="custom-control custom-control-lg custom-checkbox flex-grow-1">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span
                                                class="col-md-6 custom-control-description strike-on-check">{{task.description}}
                                            </span>
                                            <span
                                                class="col-md-3 custom-control-description strike-on-check align-self-end">
                                                {{task.dueDate | date: 'mediumDate'}}
                                            </span>
                                        </label>

                                        <a class="media-action" href="#" data-provide="tooltip" title="Edit"><i
                                                class="ti-pencil"></i></a>
                                        <a class="media-action hover-danger" href="#" data-provide="tooltip"
                                            title="Delete"><i class="ti-close"></i></a>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="appointments">
                        <div class="col-12">
                            <div class="card">
                                <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                <h4 class="text text-center">Coming Soon</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" [routerLink]="['/app/qualification']">New Note or
                    Task</a>
            </div>
        </div>
    </div>
</div>
<app-view-ideal-client #viewIdealClientModal></app-view-ideal-client>
<app-company-info #companyInfoModal></app-company-info>
