<div class="card" [@routerTransition]>
    <h4 class="card-title"><strong>{{l("Contacts")}}</strong></h4>
    <div class="card-body">
        <div class="body table-responsive">
            <div class="row pull-right">
                <form class="lookup lookup-circle lookup-right lookup-lg">
                    <input tooltip="Search or Filter" class="form-control" placeholder="Filter..." (keyup)="filterContacts()"
                        [formControl]="filterTerm" type="text" name="s" autocomplete="off">
                </form>
                <div class="btn-group btn-group-sm ml-2 d-none d-sm-flex">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"
                        tooltip="Import Contacts">Import</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="showContactImport()" href="javascript:void(0)">EXCEL</a>
                    </div>
                </div>
                <button type="button" tooltip="New Contact"
                    class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
                    (click)="createContact();">
                    <i class="material-icons">add</i>
                </button>
            </div>

            <table class="table table-striped table-responsive">
                <thead class="table-header">
                    <tr>
                        <th (click)="sort('name')">
                            {{l("Name")}}
                            <span class="fa fa-sort" *ngIf="key =='name'"></span>
                        </th>
                        <th (click)="sort('department')">
                            {{l("Department")}}
                            <span class="fa fa-sort" *ngIf="key =='department'"></span>
                        </th>
                        <th>{{l("Contact Number")}}</th>
                        <th class="text-center">{{l('Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contacts | orderBy: key : reverse| paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems };  let i=index;">

                        <td>
                            <div class="media">
                                <a class="avatar avatar-lg {{i % 2 == 0 ? 'even-class' : 'odd-class'}}" href="javascript:void(0)" (click)="viewContact(contact)">
                                    <span>{{getInitial(contact.name)}}</span>
                                </a>

                                <div class="media-body">
                                    <p>
                                        <a class="hover-primary" href="javascript:void(0)" (click)="viewContact(contact)"><strong>{{contact.name}} {{contact.surname}}</strong></a>
                                        <small class="sidetitle badge badge-{{getBadgeColor(contact.status)}}">{{contact.status}}</small>
                                    </p>
                                    <p>{{contact.jobTitle}}</p>
                                    <p>{{contact.email}}</p>
                                    <nav class="nav no-gutters mt-2">
                                        <a class="nav-link" href="http://{{contact.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a class="nav-link" href="http://{{contact.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a class="nav-link" href="http://{{contact.linkedIn}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </nav>
                                </div>
                            </div>
                        </td>
                        <td>{{contact.department}}</td>
                        <td>{{contact.cellphone}}</td>
                        <td class="text-center table-actions">
                            <div class="dropdown table-action">
                                <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="createNote(contact, 'contact')" href="javascript:void(0);"><i class="fa fa-plus"></i> Add Note</a>
                                    <a class="dropdown-item" (click)="createTask(contact, 'contact')" href="javascript:void(0);"><i class="fa fa-plus"></i> Add Task</a>
                                    <a class="dropdown-item" (click)="qualify(contact)" *ngIf="!isQualified(contact.status)" href="javascript:void(0);"><i class="fa fa-graduation-cap"></i> Qualify</a>
                                    <a class="dropdown-item" (click)="editContact(contact)" href="javascript:void(0);"><i class="ti-pencil"></i>Edit Contact</a>
                                    <a class="dropdown-item" (click)="delete(contact)" href="javascript:void(0);"><i class="ti-trash"></i> Delete Contact</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr *ngIf="contacts.length === 0">
                        <td colspan="9" class="mt-3 text text-center">
                            <span class="text-center">
                                <i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                            <h3 class="text-primary">No Contacts Have Been Added</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav class="mt-3" *ngIf="totalItems > pageSize">
                <div class="pagination justify-content-center">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
            </nav>
        </div>
    </div>
</div>

<app-create-contact (modalSave)="refresh()" #createContactModal></app-create-contact>
<app-edit-contact (modalSave)="refresh()" #editContactModal></app-edit-contact>
<app-contact-import #importContactModal></app-contact-import>
<app-create-task #createTaskModal></app-create-task>
<app-create-note #createNoteModal></app-create-note>
<app-view-contact #viewContactModal></app-view-contact>
