<div bsModal #createDealComponent="bs-modal" (onShown)="onShown()" class="modal modal-right fade" role="dialog"
  tabindex="-1" aria-labelledby="createDealComponent" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-md-right">
    <div #modalContent class="modal-content">
      <form *ngIf="active" [formGroup]="createDealForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l("Create Deal") }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-type-material">
            <!--Deal Name-->
            <div class="form-group">
              <label>Deal Name</label>
              <input [ngClass]="{
                  'is-invalid':
                    createDealForm.get('name').errors &&
                    createDealForm.get('name').touched
                }" formControlName="name" class="form-control" type="text" />
              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('name').hasError('required') &&
                  createDealForm.get('name').touched
                ">
                Deal Name Is Required
              </div>
            </div>

            <!--Deal Owner-->
            <div class="form-group">
              <select [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('ownerId').errors &&
                      createDealForm.get('ownerId').touched) ||
                    (createDealForm.get('ownerId').value === 'undefined' &&
                      createDealForm.get('ownerId').touched)
                }" formControlName="ownerId" class="form-control">
                <option [value]="undefined" selected>Please Select Owner</option>
                <option *ngFor="let user of users" [ngValue]="user.id">{{
                  user.name
                }}</option>
              </select>
              <label class="label-floated">Owner</label>
              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('ownerId').hasError('required') &&
                  createDealForm.get('ownerId').touched
                ">
                Please Select Owner
              </div>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('ownerId').value === 'undefined' &&
                  createDealForm.get('ownerId').touched
                ">
                Please Select Owner
              </div>
            </div>
            <!--Deal Company-->
            <div class="form-group">
              <select (change)="onCompanyChange($event)" [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('companyId').errors &&
                      createDealForm.get('companyId').touched) ||
                    (createDealForm.get('companyId').value === 'undefined' &&
                      createDealForm.get('companyId').touched)
                }" formControlName="companyId" class="form-control">
                <option [value]="undefined" selected>Please Select Company</option>
                <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
              </select>
              <label class="label-floated">Company</label>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('companyId').hasError('required') &&
                  createDealForm.get('companyId').touched
                ">
                Please Select Company
              </div>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('companyId').value === 'undefined' &&
                  createDealForm.get('companyId').touched
                ">
                Please Select Company
              </div>
            </div>

            <!--Deal Type-->
            <div class="form-group">
              <select (change)="onTypeChange($event)" [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('type').errors &&
                      createDealForm.get('type').touched) ||
                    (createDealForm.get('type').value === 'undefined' &&
                      createDealForm.get('type').touched)
                }" formControlName="type" class="form-control">
                <option [value]="undefined" selected>Please Select Deal Type</option>
                <option *ngFor="let type of dealTypes" [value]="type.id">{{ type.name }}
                </option>
              </select>
              <label class="label-floated">Deal Type</label>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('type').hasError('required') &&
                  createDealForm.get('type').touched
                ">
                Please Select Deal Type
              </div>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('type').value === 'undefined' &&
                  createDealForm.get('type').touched
                ">
                Please Select Deal Type
              </div>
            </div>

            <div class="form-group">
              <select [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('contactId').errors &&
                      createDealForm.get('contactId').touched) ||
                    (createDealForm.get('contactId').value === 'undefined' &&
                      createDealForm.get('contactId').touched)
                }" formControlName="contactId" class="form-control">
                <option [value]="undefined" selected>Please Select Contact</option>
                <option *ngFor="let contact of contacts" [value]="contact.id">{{ contact.name }}
                </option>
              </select>
              <label class="label-floated">Primary Contact</label>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('contactId').hasError('required') &&
                  createDealForm.get('contactId').touched
                ">
                Please Select Contact
              </div>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('contactId').value === 'undefined' &&
                  createDealForm.get('contactId').touched
                ">
                Please Select Contact
              </div>
            </div>
            <!--Deal Amount-->
            <div class="form-group">
              <label>Expected Amount</label>
              <input #expectAmountRef [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('expectedAmount').errors &&
                      createDealForm.get('expectedAmount').touched) ||
                    (createDealForm.get('expectedAmount').value ===
                      'undefined' &&
                      createDealForm.get('expectedAmount').touched)
                }" formControlName="expectedAmount" class="form-control" type="number" />
              <div class="invalid-feedback">
                Expected Amount is Required
              </div>
            </div>

            <!--Close Date-->
            <div class="form-group">
              <label class="label-floated">Expected Close Date</label>
              <input placeholder="yyy-mm-dd" autocomplete="off" formControlName="expectedCloseDate" class="form-control"
                [bsConfig]="datePickerConfig" bsDatepicker type="text" />
            </div>
            <!--Deal Stage-->
            <div class="form-group">
              <select [ngClass]="{
                  'is-invalid':
                    (createDealForm.get('pipelineStageId').errors &&
                      createDealForm.get('pipelineStageId').touched) ||
                    (createDealForm.get('pipelineStageId').value ===
                      'undefined' &&
                      createDealForm.get('pipelineStageId').touched)
                }" formControlName="pipelineStageId" class="form-control">
                <option [value]="undefined" selected>Please Select Stage</option>
                <option *ngFor="let stage of stages" [value]="stage.id">{{
                  stage.name
                }}</option>
              </select>
              <label class="label-floated">Deal Stage</label>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('pipelineStageId').hasError('required') &&
                  createDealForm.get('pipelineStageId').touched
                ">
                Please Select Deal Stage
              </div>

              <div class="invalid-feedback" *ngIf="
                  createDealForm.get('pipelineStageId').value === 'undefined' &&
                  createDealForm.get('pipelineStageId').touched
                ">
                Please Select Deal Stage
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer modal-footer-uniform">
          <button type="button" (click)="close()" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button [disabled]="!createDealForm.valid" type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
