<div class="card" [@routerTransition]>
  <h4 class="card-title">Help</h4>
  <div class="card-body">
    <div class="col-12">
      <div class="card">
        <span class="text-center"><i class="text-primary fa fa-cogs fa-5x"></i></span>
        <h4 class="text text-center">Coming Soon</h4>
      </div>
    </div>
  </div>

</div>
