<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card shadow-1">
                <div class="card-header">
                    <div class="col-md-8">
                        <h5 class="card-title"><strong>About this Deal</strong></h5>
                    </div>

                    <div class="col-md-4">
                        <button [routerLink]="['/app/pipeline']" routerLinkActive="router-link-active"
                            tooltip="Back To Pipeline" class="btn btn-pure btn-block btn-primary">
                            <i class="fa fa-long-arrow-left"> </i>
                        </button>
                    </div>

                </div>

                <form class="card-body">
                    <div class="form-group">
                        <label class="text-primary"> <strong>Amount</strong></label>
                        <span class="form-text">{{deal.expectedAmount | currency:'R'}} <a href="javascript:void(0)"
                                (click)="editDeal(deal)" tooltip="Edit Amount"><i
                                    class="ml-1 text-primary fa fa-pencil"></i></a> </span>

                    </div>
                    <div class="form-group">
                        <label class="text-primary">Deal Stage</label>
                        <span class="form-text">{{stage}}<a href="javascript:void(0)" (click)="editDeal(deal)"
                                tooltip="Edit Stage"><i class="ml-1 text-primary fa fa-pencil"></i></a> </span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-calendar"></i>
                        <label class="text-primary">Expected Close Date</label>

                        <span class="form-text">{{deal.expectedCloseDate | date: 'dd/MM/yyyy' }}<a
                                href="javascript:void(0)" (click)="editDeal(deal)" tooltip="Edit Expected Close Date"><i
                                    class="ml-1 text-primary fa fa-pencil"></i></a> </span>
                    </div>
                </form>
            </div>

            <div class="card shadow-1">
                <h5 class="card-title"><strong>Company</strong></h5>

                <form class="card-body">
                    <div class="form-group">
                        <i class="fa fa-building"></i>
                        <label class="text-primary"> <strong>{{company}}</strong></label>
                        <span class="form-text">{{companyEmail}}</span>
                    </div>
                </form>
            </div>

            <div class="card shadow-1">
                <h5 class="card-title"><strong>Contacts</strong></h5>

                <form class="card-body">
                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <label class="text-primary"> <strong>{{deal.contact.name}}</strong></label>
                        <span class="form-text">{{deal.contact.email}}</span>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-8 col-xl-9">

            <div class="media-list media-list-divided media-list-hover" data-provide="selectall">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-2">
                                <div class="btn-group">
                                    <button class="btn btn-flat btn-primary dropdown-toggle"
                                        tooltip="Create New Note Or Task" data-toggle="dropdown"><i
                                            class="fa fa-file fs-15"></i>&nbsp;Task/Note</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="createNote(deal, 'deal')"><i
                                                class="fa fa-edit fs-15"></i>&nbsp;Note</a>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="createTask(deal, 'deal')"><i
                                                class="fa fa-sticky-note fs-15"></i>&nbsp;Task</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2">
                                <button class="btn btn-flat btn-primary" (click)="sendEmail()" tooltip="New Email"><i
                                        class="fa fa-envelope fs-15"></i>&nbsp;Email</button>
                            </div>

                            <div class="col-md-3 col-lg-2">
                                <button class="btn btn-flat btn-primary" (click)="sendSms()" tooltip="New SMS">
                                    <i class="fa fa-comments fs-15"></i>&nbsp;SmS</button>
                            </div>

                            <div class="col-md-3 col-lg-2">
                                <button class="btn btn-flat btn-primary" tooltip="WhatsApp"><i
                                        class="fa fa-whatsapp fs-15"></i>&nbsp;WhatsApp</button>
                            </div>

                            <div class="col-md-3 col-lg-2">
                                <button class="btn btn-flat btn-primary" tooltip="Make A Call"><i
                                        class="fa fa-phone fs-15"></i>&nbsp;Call</button>
                            </div>

                            <div class="col-md-3 col-lg-2">
                                <button class="btn btn-flat btn-primary" tooltip="Schedule"><i
                                        class="fa fa-calendar fs-15"></i>&nbsp;Schedule</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media-list-body bg-white b-1">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">


                                <ul class="nav nav-tabs nav-justified nav-tabs-primary" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#activity-wide">Activity</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#notes-wide">Notes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#emails-wide">Emails</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#calls-wide">Calls</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tasks-wide">Tasks</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#attachments">Attachments</a>
                                    </li>
                                    <li class="nav-item">

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active " id="activity-wide" role="tabpanel">

                                        <div class="col-12" *ngIf="activities.length===0">
                                            <div class="card">
                                                <span class="text-center"><i
                                                        class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                                <h4 class="text text-center">No Activity Yet</h4>
                                            </div>
                                        </div>
                                        <div class="col-12" [style.display]="activities.length==0 ? 'none': 'block '">
                                            <div class="card">
                                                <ol
                                                    class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
                                                    <perfect-scrollbar [config]="{wheelSpeed:0.5}"
                                                        style="max-height: 325px;">
                                                        <li class="timeline-block" *ngFor="let activity of activities">

                                                            <div class="timeline-point">
                                                                <span class="avatar bg-primary"><i
                                                                        class="fa fa-newspaper-o"></i></span>
                                                            </div>
                                                            <div class="timeline-content">
                                                                <time
                                                                    datetime="2018">{{activity.creationTime | date: 'short'}}</time>
                                                                <p><span class="h6">{{activity.description}}</span> on
                                                                    <a href="#">{{deal.name}}</a>.</p>
                                                                <hr>
                                                            </div>
                                                        </li>
                                                    </perfect-scrollbar>
                                                </ol>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="notes-wide" role="tabpanel">

                                        <div class="col-12" *ngIf="notes.length===0">
                                            <div class="card">
                                                <span class="text-center"><i
                                                        class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                                <h4 class="text text-center">No Notes Yet</h4>
                                            </div>
                                        </div>
                                        <div class="col-12" [style.display]="notes.length === 0 ? 'none' : 'block'">
                                            <div class="card">
                                                <div class="media-list-body scrollable">
                                                    <ol
                                                        class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
                                                        <perfect-scrollbar [config]="{wheelSpeed:0.5}"
                                                            style="max-height: 325px;">
                                                            <li class="timeline-block" *ngFor="let note of notes">
                                                                <div class="timeline-point">
                                                                    <span class="avatar bg-success"><i
                                                                            class="fa fa-edit"></i></span>
                                                                </div>
                                                                <div class="timeline-content">
                                                                    <time
                                                                        datetime="2018">{{note.creationTime  | date: 'short'}}</time>
                                                                    <p><span class="h6">{{note.description}}</span> on
                                                                        <a href="#">{{deal.name}}</a>.</p>
                                                                    <hr>
                                                                </div>
                                                            </li>
                                                        </perfect-scrollbar>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="emails-wide" role="tabpanel">
                                        <h2 class="text text-center text-primary ">Coming Soon</h2>
                                    </div>
                                    <div class="tab-pane fade" id="calls-wide" role="tabpanel">
                                        <h2 class="text text-center text-primary">Coming Soon</h2>
                                    </div>
                                    <div class="tab-pane fade" id="tasks-wide" role="tabpanel">
                                        <div class="col-12" *ngIf="tasks.length === 0">
                                            <div class="card">
                                                <span class="text-center"><i
                                                        class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                                <h4 class="text text-center">No tasks Yet</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-12" [style.display]="tasks.length === 0 ? 'none' : 'block'">
                                            <div class="card">
                                                <div class="media-list media-list-hover" data-provide="selectall">
                                                    <header class="media media-single media-list-header">
                                                        <label class="custom-control custom-control-lg custom-checkbox
                                                                pl-1">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>

                                                            <div class="lookup lookup-sm flex-grow-1">
                                                                <input type="text" placeholder="Search..."
                                                                    data-provide="media-search">
                                                            </div>
                                                        </label>

                                                    </header>
                                                    <div class="media-list-body scrollable" data-provide="sortable"
                                                        data-sortable-handle=".sortable-dot" style="height:344px">
                                                        <perfect-scrollbar [config]="{wheelSpeed:0.5}"
                                                            style="max-height: 325px;">
                                                            <div class="media media-single" *ngFor="let task of tasks">

                                                                <label
                                                                    class="custom-control custom-control-lg custom-checkbox flex-grow-1">
                                                                    <input type="checkbox" class="custom-control-input">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span
                                                                        class="col-md-6 custom-control-description strike-on-check">{{task.description}}
                                                                    </span>
                                                                    <span class="col-md-3 custom-control-description
                                                                        strike-on-check align-self-end">
                                                                        {{task.dueDate | date: 'mediumDate'}}
                                                                    </span>
                                                                </label>

                                                                <a class="media-action" href="#" data-provide="tooltip"
                                                                    title="Edit"><i class="ti-pencil"></i></a>
                                                                <a class="media-action hover-danger" href="#"
                                                                    data-provide="tooltip" title="Delete"><i
                                                                        class="ti-close"></i></a>

                                                            </div>
                                                        </perfect-scrollbar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="attachments" role="tabpanel">
                                        <h2 class="text text-center text-primary ">Coming Soon</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-create-task #createTaskModal></app-create-task>
<app-create-note #createNoteModal></app-create-note>
<app-new-email #newEmailModal></app-new-email>
<app-send-sms #sendSmSModal></app-send-sms>
<app-edit-deal #editDealModal></app-edit-deal>
