<div [@routerTransition]>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">

                    <div class="card">
                        <div class="card-body bg-img text-center py-10">
                            <a href="#">
                                <img class="avatar avatar-xxl avatar-bordered" alt="n/a"
                                    src="../../assets/images/user.png">
                            </a>
                            <h4 class="mt-2 mb-0">
                                <a class="hover-primary" href="#">{{user.fullName}}</a>
                            </h4>
                            <label>{{user.jobTitle}}</label>
                        </div>
                    </div>

                    <hr />
                    <div style="text-align:center">

                        <h5>Small Deals <a href="javascript:void(0)" (click)="reprojectSmallDeals()"><i
                                    class="fa fa-pencil"></i></a></h5>
                        <h6><strong>TMR: </strong>{{user.targetedMonthlyTurnoverSD | currency:'R'}}</h6>
                        <h6><strong>ADS: </strong>{{user.averageDealSizeSD | currency:'R'}}</h6>
                        <h6><strong>NDW: </strong>0</h6>
                        <hr />
                        <h5>Medium Deals <a href="javascript:void(0)" (click)="reprojectMediumDeals()"><i
                                    class="fa fa-pencil"></i></a></h5>
                        <h6><strong>TMR: </strong>{{user.targetedMonthlyTurnoverMD| currency:'R'}}</h6>
                        <h6><strong>ADS: </strong>{{user.averageDealSizeMD | currency:'R'}}</h6>
                        <h6><strong>NDW: </strong>0</h6>
                        <hr />
                        <h5>Big Deals <a href="javascript:void(0)" (click)="reprojectBigDeals()"><i
                                    class="fa fa-pencil"></i></a></h5>
                        <h6><strong>TMR: </strong>{{user.targetedMonthlyTurnoverBD | currency:'R'}}</h6>
                        <h6><strong>ADS: </strong>{{user.averageDealSizeBD | currency:'R'}}</h6>
                        <h6><strong>NDW: </strong>0</h6>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#profile">COMPANY PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">ACCOUNT SETTINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONNECT YOUR EMAIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SYNC YOUR CALENDAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">EMAIL SETTINGS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">API SETTINGS</a>
                    </li>

                </ul>
            </div>

            <div class="card">
                <div class="tab-content">
                    <div class="tab-pane fade show active " id="profile" role="tabpanel">
                        <div class="col-md-12">
                            <form class="card" (ngSubmit)="updateProfile()">
                                <h4 class="card-title fw-400">Profile Settings</h4>

                                <div class="card-body form-type-material">
                                    <div class="flexbox gap-items-4">
                                        <img class="avatar avatar-xl" src="../../assets/images/user.png"
                                            alt="{{user.name}}">

                                        <div class="flex-grow">
                                            <h5>{{user.name}}</h5>
                                            <div class="d-flex flex-column flex-sm-row gap-items-2 gap-y mt-16">
                                                <div class="file-group file-group-inline">
                                                    <button
                                                        class="btn btn-sm btn-w-lg btn-outline btn-round btn-primary file-browser"
                                                        type="button">Change Picture</button>
                                                    <input type="file">
                                                </div>

                                                <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-danger"
                                                    href="#">Delete Picture</a>
                                            </div>

                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">First name</label>
                                                <input class="form-control" type="text" name="name"
                                                    [(ngModel)]="user.name">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Last name</label>
                                                <input class="form-control" type="text" name="surname"
                                                    [(ngModel)]="user.surname">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Email</label>
                                                <input readonly [(ngModel)]="user.emailAddress" name="emailAddress"
                                                    class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select name="jobTitle" class="form-control" [(ngModel)]="user.jobTitle">
                                                    <option [ngValue]="undefined || null" selected>Select Job Title</option>
                                                    <option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.value">
                                                        {{jobTitle.value}}
                                                    </option>
                                                </select>
                                                <label class="label-floated">Job Title</label>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Department</label>
                                                <select name="department" [(ngModel)]="user.department" class="form-control">
                                                    <option [ngValue]="undefined || null" selected>Select Department</option>
                                                    <option *ngFor="let dep of departments" [value]="dep.value">
                                                        {{dep.value}}</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="label-floated">Phone</label>
                                            <input name="phoneNumber" class="form-control" type="text"
                                                [(ngModel)]="user.phoneNumber">
                                        </div>
                                    </div>

                                    <hr>
                                </div>

                                <div class="media">
                                    <div class="media-body">
                                        <p><strong>Notifications</strong></p>
                                        <p>Receive notifications from other users</p>
                                    </div>

                                    <label class="switch">
                                        <input type="checkbox" readonly checked>
                                        <span  tooltip="Notifications Coming Soon" class="switch-indicator"></span>
                                    </label>
                                </div>

                                <div class="card-body">
                                    <button class="btn btn-block btn-round btn-bold btn-primary"
                                        type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mediumDealsModal #mediumDealsModal></mediumDealsModal>
    <bigDealsModal #bigDealsModal></bigDealsModal>
    <smallDealsModal #smallDealsModal></smallDealsModal>
