<div bsModal #companyInfoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xlg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #companyInfoModal="ngForm" id="frm_create_company" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Company Contacts")}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table" data-provide="selectall">
                            <thead>
                                <tr>
                                  
                                    <th>{{l("Name")}}</th>
                                    <th>{{l("Last Name")}}</th>
                                    <th>{{l("Email")}}</th>
                                    <th>{{l('Position/Job Title')}}</th>
                                    <th>{{l("City")}}</th>
                                    <th>{{l("Industry")}}</th>
                                   
                                    <th class="has-new">{{l('Actions')}}</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let contact of prospects; let i=index">                                    
                                    <td>{{contact.name}}</td>
                                    <td>{{contact.surname}}</td>
                                    <td>{{contact.email}}</td>
                                    <td>{{contact.jobTitle}}</td>
                                    <td>{{contact.city}}</td>
                                    <td>{{contact.industry}}</td>
                                   
                                    <td class="text-right table-actions">

                                        <div class="dropdown table-action">
                                            <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <span>
                                                    <a class="dropdown-item" href="#" (click)="add(contact)"><i class="fa fa-plus"></i>Add To List</a>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="!prospects || prospects.length==0">
                                    <td style="text-align:center" colspan="9">
                                        <span class="text-center"><i class="text-primary fa fa-hourglass-o fa-5x"></i></span>
                                        <h3 class="text-primary">No Company Info at the moment</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="close()" class="btn btn-bold btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
