<div class="list" (dragover)="allowDrop($event)" (drop)="drop($event, list.stageId)">
    <p class="list__title">
        <strong>{{list.name}}</strong>
        <ng-template #popTemplate>{{totalDeals}} Of {{totalAmount | currency: 'R'}}</ng-template>
        <span class="pull-right cursor-pointer" (mouseenter)="getStageInfo(list.stageId)" (mouseleave)=" onMouseleave()"
            [popover]="popTemplate" popoverTitle="{{list.name}} Stage Info" triggers="mouseenter:mouseleave" >
            <i class="fa fa-info-circle"></i>
        </span>
    </p>

    <div style="min-width:250px" class="cards">
        <app-card *ngFor="let cardId of list.cards" [card]="cardStore.getCard(cardId)"></app-card>
    </div>

    <input style="position:relative" #addCardInput type="text" *ngIf="displayAddCard" autofocus>
    <a href="javascript:void(0);" (click)="createDeal();" class="list__newcard text-white">Add a deal...</a>
</div>
<app-create-deal #createDealComponent></app-create-deal>
