.list {
    background: #242A33;
    padding: 6px;
    margin: 5px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
}

.list__title {
    margin: 0;
    padding: 16px 0;
}

.list a {
    width: 100%;
    display: block;
    text-decoration: none;
}

input {
    width: 230px;
    padding: 5px;
    border: 2px solid orange;
    outline: 0;
    background: #fff;
    box-shadow: none;
}
