<div class="card" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card-body">
            <div class="body">
                <div class="col-lg-12">
                    <div class="card">
                        <h4 class="card-title"><strong>Users</strong></h4>
                        <div class="card-body">
                            <div class="flexbox mb-20">
                                <div class="lookup">
                                    <input class="w-200px" type="text" name="s" placeholder="Search">
                                </div>
                                <div class="btn-toolbar">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-default" title="Refresh" (click)="refresh();" data-provide="tooltip"><i class="fa fa-refresh"></i></button>
                                        <button class="btn btn-primary" title="Add new User" (click)="createUser()" data-provide="tooltip"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{l('UserName')}}</th>
                                        <th>{{l('FullName')}}</th>
                                        <th>{{l('EmailAddress')}}</th>
                                        <th>
                                            <div style="text-align:center">{{l('IsActive')}}</div>
                                        </th>
                                        <th class="text-right">{{l('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users| paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{user.userName}}</td>
                                        <td>{{user.fullName}}</td>
                                        <td>{{user.emailAddress}}</td>
                                        <td align="center">
                                            <i class="material-icons" *ngIf="user.isActive" style="color:green;">check_box</i>
                                            <i class="material-icons" *ngIf="!user.isActive" style="color:red;">indeterminate_check_box</i>
                                        </td>
                                        <td class="text-right table-actions">
                                            <a class="table-action hover-primary" (click)="editUser(user)" href="javascript:void(0);"><i class="ti-pencil"></i></a>
                                            <a class="table-action hover-danger" (click)="delete(user)" href="javascript:void(0);"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-align: center;" *ngIf="totalItems > pageSize">
                                <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<app-create-user #createUserModal (modalSave)="refresh()"></app-create-user>
<app-edit-user #editUserModal (modalSave)="refresh()"></app-edit-user>
