<div bsModal #createQualificationModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #createQualificationModal="ngForm" id="frm_create_contact" novalidate
                (ngSubmit)="save()">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span>{{l("Qualification")}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <h6>Please answer the following questions carefully</h6>
                        <div class="card-body">
                            <table class="table" style="width:100%" data-provide="selectall selectable">
                                <thead>
                                    <tr>
                                        <th>Questions</th>
                                        <th>No</th>
                                        <th>Yes</th>
                                        <th>I don't know</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Is service aligned with prospect's goals (Need)?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is contact person a decision maker or part of the panel?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio1" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio1">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio1" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio1">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio1" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio1">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Does the prospect have a budget for the project?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio2" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio2">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio2" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio2">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio2" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio2">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Does the prospect employ 3 or more people ?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio3" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio3">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio3" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio3">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio3" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio3">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Does the prospect at least make anything between 1-10 million a year?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio4" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio4">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio4" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio4">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio4" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio4">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is the company a BEE contributor (rating 2-4) ?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio5" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio5">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio5" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio5">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio5" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio5">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is the business making money?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio6" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio6">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio6" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio6">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio6" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio6">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Do the decision makers know or find value in what you are selling them?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio7" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio7">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio7" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio7">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio7" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio7">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Did the prospect give a time-frame/timeline to start the project?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio8" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio8">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio8" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio8">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio8" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio8">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Have they been in business for more than 3 years?</td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0.5" name="optradio9" type="radio"
                                                    (change)="isQualified()" class="custom-control-input"
                                                    [(ngModel)]="optradio9">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="1" name="optradio9" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio9">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input value="0" name="optradio9" type="radio" (change)="isQualified()"
                                                    class="custom-control-input" [(ngModel)]="optradio9">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button style="margin-right:100px;" [(ngModel)]="value" type="button"
                                class="btn btn-pure btn-primary pull-right">Score: {{value*10}}%</button>
                        </div>
                    </div>
                    <br>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="close()" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" (click)="save()" class="btn btn-primary">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
