<div class="card" [@routerTransition]>
    <div class="card-title">
        <h4><strong>{{l('Revenue Projections')}}</strong></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <strong>Small Deals</strong>
                                    <strong>
                                        <span class="pull-right">{{l('0 / ')}}{{user.targetedMonthlyTurnoverSD | currency:'R'}}</span>
                                    </strong>
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Count</th>
                                <th>Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Prospects</td>
                                <td>0</td>
                                <td>{{user.leadsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Emails</td>
                                <td>0</td>
                                <td>{{user.emailsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>SMS</td>
                                <td>0</td>
                                <td>{{user.callsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Calls</td>
                                <td>0</td>
                                <td>{{user.callsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Meetings</td>
                                <td>0</td>
                                <td>{{user.meetingsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Proposals</td>
                                <td>0</td>
                                <td>{{user.proposalsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Wins</td>
                                <td>0</td>
                                <td>{{user.winsTargetSD}}</td>
                            </tr>
                            <tr>
                                <td>Revenue</td>
                                <td>0</td>
                                <td>{{user.averageDealSizeSD | currency:'R'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:right;">
                    <label>
                        <strong>Action:</strong>
                    </label>
                    <div class="btn-group">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">--Select Action--</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Prospect</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="reprojectSmallDeals()">Re-Project</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <strong>Medium Deals</strong>
                                <strong>
                                    <span class="pull-right"> {{l('0 / ')}}{{user.targetedMonthlyTurnoverMD| currency:'R'}}</span>
                                </strong>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Count</th>
                            <th>Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Prospects</td>
                            <td>0</td>
                            <td>{{user.leadsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Emails</td>
                            <td>0</td>
                            <td>{{user.emailsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>SMS</td>
                            <td>0</td>
                            <td>{{user.callsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Calls</td>
                            <td>0</td>
                            <td>{{user.callsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Meetings</td>
                            <td>0</td>
                            <td>{{user.meetingsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Proposals</td>
                            <td>0</td>
                            <td>{{user.proposalsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Wins</td>
                            <td>0</td>
                            <td>{{user.winsTargetMD}}</td>
                        </tr>
                        <tr>
                            <td>Revenue</td>
                            <td>0</td>
                            <td>{{user.averageDealSizeMD | currency:'R'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right;">
                    <label>
                        <strong>Action:</strong>
                    </label>
                    <div class="btn-group">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">--Select Action--</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Prospect</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="reprojectMediumDeals()">Re-Project</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <strong>Big Deals</strong>
                                <strong>
                                    <span class="pull-right">{{l('0 / ')}}{{user.targetedMonthlyTurnoverBD | currency:'R'}}</span>
                                </strong>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Count</th>
                            <th>Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Prospects</td>
                            <td>0</td>
                            <td>{{user.leadsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Emails</td>
                            <td>0</td>
                            <td>{{user.emailsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>SMS</td>
                            <td>0</td>
                            <td>{{user.callsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Calls</td>
                            <td>0</td>
                            <td>{{user.callsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Meetings</td>
                            <td>0</td>
                            <td>{{user.meetingsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Proposals</td>
                            <td>0</td>
                            <td>{{user.proposalsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Wins</td>
                            <td>0</td>
                            <td>{{user.winsTargetBD}}</td>
                        </tr>
                        <tr>
                            <td>Revenue</td>
                            <td>0</td>
                            <td>{{user.averageDealSizeBD | currency:'R'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right;">
                    <label>
                        <strong>Action:</strong>
                    </label>
                    <div class="btn-group">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">--Select Action--</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Prospect</a>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="reprojectBigDeals()">Re-Project</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<mediumDealsModal #mediumDealsModal></mediumDealsModal>
<bigDealsModal #bigDealsModal></bigDealsModal>
<smallDealsModal #smallDealsModal></smallDealsModal>
